{% load static %}
{% for procesos in entity %}
<!--Formulario del proceso y sus sesiones -->
<div class="bg-light">
    <div class="form-horizontal" id="formModProcesoCoach-{{ procesos.ID }}"
        action="{% url 'infoProcCoach' procesos.ID %}" method="POST">{% csrf_token %}
        <div class="container-fluid">
            <div>
                <image class="col-xs-4">
                        <p class="imagenLogo">
                            <br />
                        </p>
                </image>
            </div>
            <div class="row">
                <div class="col-xs-12 cabeceraSesiones text-center">
                    <h1 class="nav-procesos">Reporte Empresa: {{procesos.NOMBREEMPRESA}}</h1>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-bottom: 2rem;">
                <!--Datos personales del coachee-->
                <table class="border">
                    <tr class="border">
                        <th colspan="2" class="cabeceraReporte text-center">Datos Coachee</th>

                    </tr>
                    <tr>
                        <td>Nombre Coachee:</td>
                        <td>{{procesos.NOMBRE}}
                            {{procesos.APELLIDO}}</td>
                    </tr>
                    <tr>
                        <td>Email Coachee:</td>
                        <td>{{procesos.CORREO}}</td>
                    </tr>
                    <tr>
                        <td>Telefono Coachee:</td>
                        <td>{{procesos.FONO}}</td>
                    </tr>
                    <tr class="border">
                        <th colspan="2" class="cabeceraReporte text-center">Datos Jefe</th>
                    </tr>
                    <tr>
                        <td>Nombre Jefe:</td>
                        <td>{{procesos.NOMBREJEFE}}</td>
                    </tr>
                    <tr>
                        <td>Email Jefe:</td>
                        <td>{{procesos.EMAILJEFE}}</td>
                    </tr>
                    <tr>
                        <td>Telefono Jefe:</td>
                        <td>{{procesos.FONOJEFE}}</td>
                    </tr>
                    <!-- Comentar si no es necesario los datos del Coach en el Reporte-->
                    <tr class="border">
                        <th colspan="2" class="cabeceraReporte text-center">Datos Coach</th>
                    </tr>
                    <tr>
                        <td>Nombre Coach:</td>
                        <td>{{procesos.NOMBRECOACH}} {{procesos.APELLIDOCOACH}}</td>
                    </tr>
                    <tr>
                        <td>Email Coach:</td>
                        <td>{{procesos.CORREOCOACH}}</td>
                    </tr>
                    <tr>
                        <td>Telefono Coach:</td>
                        <td>{{procesos.FONOCOACH}}</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div style="margin-bottom: 2rem;">
                <!--Datos del proceso-->
                <div class="nav-item">
                    <h2 class="nav-procesos cabeceraSesiones">Información del Proceso</h2>
                </div>
                <table class="border w-100">
                    <tr class="border">
                        <th class="cabeceraReporte text-center">Objetivo del proceso:</th>
                    </tr>
                    <tr>
                        <td>
                            <p class="texto">{{procesos.OBJETIVOS}}</p>
                        </td>
                    </tr>
                </table>
                <br>
                <table class="border w-100">
                    <tr class="border">
                        <th class="cabeceraReporte text-center">Indicadores de exito:</th>
                    </tr>
                    <tr>
                        <td>
                            <p class="texto">{{procesos.INDICADORES}}</p>
                        </td>
                    </tr>
                </table>
                <br>
                <table class="border w-100">
                    <tr class="border">
                        <th class="cabeceraReporte text-center">Plan de Acción:</th>
                    </tr>
                    <tr>
                        <td>
                            <p class="texto">{{procesos.PLANACCION}}</p>
                        </td>
                    </tr>
                </table>
            </div>
            <hr>
            <br>
            {% for sesiones in entity %}

            <div class="nav-item">
                <h2 class="nav-procesos cabeceraSesiones">Información de las Sesiónes</h2>
            </div>
            <table class="border w-100">
                <tr class="border">
                    <th class="cabeceraReporte text-center">Descripción sesión:</th>
                </tr>
                <tr>
                    <td>
                        <p class="texto">Sesiones</p>
                    </td>
                </tr>
            </table>
            <br>
            <table class="border w-100">
                <tr class="border">
                    <th class="cabeceraReporte text-center">Asignaciones/Acuerdos:</th>
                </tr>
                <tr>
                    <td>
                        <p class="texto">Sesiones Asignaciones</p>
                    </td>
                </tr>
            </table>
            <br>
            <table class="border w-100">
                <tr class="border">
                    <th class="cabeceraReporte text-center">ㅤㅤAvances:ㅤㅤ</th>
                </tr>
                <tr>
                    <td>
                        <p class="texto">Sesiones Avance </p>
                    </td>
                </tr>
            </table>

            {% endfor %}
        </div>
        <br>
    </div>
</div>
{% endfor %}