{% load static %}
{% for procesos in entity %}
<!--Formulario del proceso y sus sesiones -->
<div class="bg-light">
    <div class="form-horizontal" id="formModProcesoCoach-{{ procesos.ID }}"
        action="{% url 'infoProcCoach' procesos.ID %}" method="POST">{% csrf_token %}
        <div class="container-fluid">
            <div>
                <image class="col-xs-4">
                        <p class="imagenLogo">
                            <br />
                        </p>
                </image>
            </div>
            <div class="row">
                <div class="col-xs-12 cabeceraSesiones text-center">
                    <h1 class="nav-procesos">Reporte Empresa: {{procesos.NOMBREEMPRESA}}</h1>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-bottom: 2rem;">
                <!--Datos personales del coachee-->
                <table class="border">
                    <tr class="border">
                        <th colspan="2" class="cabeceraReporte text-center">Datos Coachee</th>

                    </tr>
                    <tr>
                        <td>Nombre Coachee:</td>
                        <td>{{procesos.NOMBRE}}
                            {{procesos.APELLIDO}}</td>
                    </tr>
                    <tr>
                        <td>Email Coachee:</td>
                        <td>{{procesos.CORREO}}</td>
                    </tr>
                    <tr>
                        <td>Telefono Coachee:</td>
                        <td>{{procesos.FONO}}</td>
                    </tr>
                    <tr class="border">
                        <th colspan="2" class="cabeceraReporte text-center">Datos Jefe</th>
                    </tr>
                    <tr>
                        <td>Nombre Jefe:</td>
                        <td>{{procesos.NOMBREJEFE}}</td>
                    </tr>
                    <tr>
                        <td>Email Jefe:</td>
                        <td>{{procesos.EMAILJEFE}}</td>
                    </tr>
                    <tr>
                        <td>Telefono Jefe:</td>
                        <td>{{procesos.FONOJEFE}}</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div style="margin-bottom: 2rem;">
                <!--Datos del proceso-->
                <div class="nav-item">
                    <h2 class="nav-procesos cabeceraSesiones">Datos del Proceso</h2>
                </div>
                <table class="border">
                    <tr class="border">
                        <th class="cabeceraReporte text-center">Objetivo del proceso:</th>
                    </tr>
                    <tr>
                        <td><textarea rows="5" class="form-control" name="objetivosProc"
                                id="objetivosProc-{{ procesos.ID }}">{{procesos.OBJETIVOS}}<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, sunt recusandae voluptatibus fugiat ducimus modi unde iste, vel adipisci autem laudantium. Numquam exercitationem, temporibus ea incidunt obcaecati dicta magni at.</p></textarea></td>
                    </tr>
                </table>
                <br>
                <table class="border">
                    <tr class="border">
                        <th class="cabeceraReporte text-center">Indicadores de exito:</th>
                    </tr>
                    <tr>
                        <td><textarea rows="5" class="form-control" name="indicadoresProc"
                                id="indicadoresProc-{{ procesos.ID }}">{{procesos.INDICADORES}} Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate facere aperiam asperiores. Ullam deleniti accusantium pariatur natus quaerat ipsam corporis itaque tempore reiciendis tempora. Aspernatur similique alias excepturi necessitatibus sit! <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda debitis id doloribus, enim ex blanditiis, accusamus fugit beatae excepturi sequi consectetur! Sequi qui ad illo error beatae totam voluptates minus?</p></textarea></td>
                    </tr>
                </table>
                <br>
                <table class="border">
                    <tr class="border">
                        <th class="cabeceraReporte text-center">Plan de Acción:</th>
                    </tr>
                    <tr>
                        <td><textarea rows="7" class="form-control" name="planAccionProc"
                                id="planAccionProc-{{ procesos.ID }}">{{procesos.PLANACCION}}<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga iusto velit magni impedit repellendus vel quis voluptas praesentium sit voluptate? Labore earum nesciunt quod doloribus, soluta delectus aut deleniti laudantium!</p></textarea></td>
                    </tr>
                </table>
            </div>
            <hr>
            <br>
            {% for sesiones in entity %}

            <div class="nav-item">
                <h2 class="nav-procesos cabeceraSesiones">Sesión</h2>
            </div>
            <table class="border">
                <tr class="border">
                    <th class="cabeceraReporte text-center">Descripción sesión:</th>
                </tr>
                <tr>
                    <td><textarea rows="7" class="form-control" name="descripcionSesion"
                            id="descripcionSesion-{{ sesiones.ID }}">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos fuga numquam quidem eaque dolorem officiis veritatis dolore. Cupiditate non officia quasi iure minus veritatis velit iste. Doloribus dolorem quod quaerat.<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus iure minus impedit voluptates ut laborum error commodi nemo ad incidunt dignissimos eius magni officia voluptate nulla, ipsum ab excepturi? Laudantium.</p>  </textarea></td>
                </tr>
            </table>
            <br>
            <table class="border">
                <tr class="border">
                    <th class="cabeceraReporte text-center">Asignaciones/Acuerdos:</th>
                </tr>
                <tr>
                    <td><textarea rows="7" class="form-control" name="asignaciones"
                            id="asignaciones-{{ sesiones.ID }}"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, ullam inventore. Itaque aliquam, reiciendis totam explicabo culpa beatae? Cumque iste fugit dolores a voluptatem quidem blanditiis saepe, soluta accusamus fugiat.<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aperiam praesentium nisi sunt non autem id ipsa porro. Debitis tempore mollitia nulla voluptatibus. Ea tempore, eos autem dolores vitae quo.</p>   </textarea></td>
                </tr>
            </table>
            <br>
            <table class="border">
                <tr class="border">
                    <th class="cabeceraReporte text-center">ㅤㅤAvances:ㅤㅤ</th>
                </tr>
                <tr>
                    <td><textarea rows="7" class="form-control" name="avance"
                            id="avance-{{ sesiones.ID }}">  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium dicta in delectus incidunt voluptatibus sapiente iure vero, vel impedit reprehenderit assumenda ullam, velit consequuntur rem ad nihil nobis libero neque!</p>  </textarea></td>
                </tr>
            </table>

            {% endfor %}
        </div>
        <br>
    </div>
</div>




{% endfor %}