h3 {
    font-size: 25px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: #002b49;
    
  }
  h3 em {
    font-weight: 300;
  }
  
  #modal {
    position: fixed;
    z-index: 1;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(48, 93, 212, 0.9);
  }
  #modal .wrapper {
    height: 100%;
    width: 100%;
    display: table;
  }
  #modal .wrapper .content {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    height: 100%;
    width: 100%;
  }
  #modal .wrapper .content .close {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 15px;
    right: 15px;
    transform: rotate(45deg);
  }
  #modal .wrapper .content .close:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 0%;
    width: 2px;
    background: rgba(255, 255, 255, 0.7);
  }
  #modal .wrapper .content .close:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    width: 0%;
    height: 2px;
    background: rgba(255, 255, 255, 0.7);
  }
  #modal .wrapper .content .box {
    padding: 50px;
    width: 500px;
    max-width: 100%;
    background: white;
    border-radius: 5px;
    margin: 0 auto;
    transform: scale(0);
  }
  #modal .wrapper .content .box h2 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 300;
    margin-bottom: 25px;
  }
  #modal .wrapper .content .box p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 25px;
  }
  #modal .wrapper .content .box p:last-of-type {
    margin-bottom: 0;
  }
  #modal .wrapper .content .box a.button {
    display: inline-block;
    padding: 15px;
    color: white;
    text-decoration: none;
    background-color: #305dd4;
    border-radius: 5px;
    margin-top: 25px;
    box-shadow: inset 0 0 0 #1b3883;
    transition: .25s ease-in-out;
  }
  #modal .wrapper .content .box a.button:hover {
    box-shadow: inset 500px 0 0 #1b3883;
  }
  #modal.active {
    top: 0%;
    animation: fadeIn .25s ease-in-out;
  }
  #modal.active.moveOut {
    animation: fadeOut .25s ease-in-out;
  }
  #modal.active .wrapper .content .box {
    -webkit-animation: scaleUp 750ms .25s linear both;
    animation: scaleUp 750ms .25s linear both;
  }
  #modal.active .wrapper .content .close:before {
    height: 100%;
    transition: .25s .5s ease-in-out;
  }
  #modal.active .wrapper .content .close:after {
    width: 100%;
    transition: .25s .25s ease-in-out;
  }
  #modal.active .wrapper .content .close:hover {
    cursor: pointer;
  }
  #modal.active .wrapper .content .close:hover:before, #modal.active .wrapper .content .close:hover:after {
    transition: .25s 0s ease-in-out;
    background: white;
  }
  
  #procesos {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    z-index: 0;
  }

  #calendar {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    border-top: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    position: relative;
    z-index: 0;
  }
/* Días de la semana */
  #calendar #day-labels {
    width: 100%;
    border-bottom: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    overflow: auto;
    font-weight: bold;
    font-family: serif;
  }
  #calendar #day-labels .label {
    width: 14.285714286%;
    float: left;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    letter-spacing: 1px;
    color:black;
    background: rgba(255, 255, 255, 0.95);
  }
  #calendar .week {
    width: 100%;
    overflow: hidden;
  }
  #calendar .week .day {
    width: 14.285714286%;
    padding-bottom: 14.285714286%;
    border-right: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    height: 0px;
    float: left;
    position: relative;
    background: rgba(255, 255, 255, 0.95);
  }
  #calendar .week .day .date {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    color: #7a7a7a;
  }
  #calendar .week .day .date.today {
    color: white;
    background: #cd1b1b;
  }

   #calendar .week .day:nth-last-child(1), #calendar .week .day:nth-last-child(2) {
    background-color: rgba(235, 235, 235, 0.95);
  }
  #calendar .week .day:nth-last-child(1).noDate:hover, #calendar .week .day:nth-last-child(2).noDate:hover {
    background-color: rgba(235, 235, 235, 0.95);
    cursor: default;
  }
  #calendar .week .day:hover {
    background-color: #002b49;
    cursor: pointer;
  }
  #calendar .week .day:hover.noDate {
    background: rgba(255, 255, 255, 0.95);
    cursor: default;
  }
  #calendar .week .day:hover .date {
    color: #cfdef4;
  }
  #calendar .week .day:hover .date.today {
    background: #cfdef4;
    color: #305dd4;
  }

  
  @media (min-width: 768px) {

    #procesos {
        width: auto;
        max-width: 100%;
        margin: 0 auto;
        border-top: 1px solid #c6c6c6;
        border-left: 1px solid #c6c6c6;
        z-index: 0;
      }
    
      #calendar {
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
        border-top: 1px solid #c6c6c6;
        border-left: 1px solid #c6c6c6;
        position: relative;
        z-index: 0;
      }
  }
