#imagen-fondo{
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  background-attachment: fixed;

}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - Cambiar esto con JavaScript */
  position: fixed; /* Permanezca en su sitio */
  z-index: 100; /* Mantener en la cima */
  top: 0;
  left: 0;
  background-color: #002b49; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #002b49;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  /*padding: 20px;*/
}

.header {
  background-color: #002b49;
  margin-block-end: 5px;
}

#sidebarmenu{
  padding-top: 8%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  .openbtnimg{
    width: 20%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .openbtnimg{
    width: 30%;
    height: auto;
  }
}

@media screen and (min-width: 425px) {
  .openbtnimg{
    width: 150px;
    height: 50px;
  }
}

@media screen and (max-width: 375px) {
  .openbtnimg{
    width: 88px;
    height: 50px;
  }
}

 