{% block content%}
<!-- ESTO HAY QUE REVISARLO, Al ingresar a otra "pagina" no muestra el menu -->
    <!-- hay que ver si lo dejamos aca o en cada html -->
    <!-- Inicio Sidebar collapse por prefil -->
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="">
            <img src="{% static 'imagenes/logo-thinkgo.png' %}" class="img-fluid" alt="Logo ThinkGo">
        </a>
        <!-- ESTO HAY QUE REVISARLO, SE DEJARA EL PERFIL Y CERRAR SESION ACA O ABAJO -->
        <!-- Opciones segun perfil -->
        
        <a href="{% url 'procesosAdmin' %}">Procesos</a>
        <a href="#">Usuarios</a>
        <a href="#">Perfil</a>
        <a href="/">Cerrar Sesión</a>
    </div>
    
    <!-- ESTO HAY QUE REVISARLO, SE DEJARA EL PERFIL Y CERRAR SESION ACA O ARRIBA -->
    <!-- Dropdown para Perfil y Cerrar Sesión -->
    <div class="dropdown" id="main">
        <div class="header">
            <!-- Botón para el menu sidebar -->
            <button class="openbtn" onclick="openNav()">&#9776; Menú </button>
            <!-- Bienvenida al usuario por su nombre -->
            <button class="openbtn dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
                style="float:right;">Hola {{ usuario.nombre }}</button>
            
            <!-- Opciones del perfil  -->
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Perfil</a>
                <a class="dropdown-item" href="/">Cerrar Sesión</a>
            </div>
        </div>
    </div>
{% endblock%}