{% extends "menu/layoutMenu.html" %}
{% load static %}
{% block title %}Menu Administrador{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
<script type="text/javascript" src="{% static 'js/sweetalert2@11.js' %}"></script>
{% endblock %}
{% block content %}

<!--Menu Procesos-->

<div class="list-group flex-column flex-sm-row list-group-horizontal p-2" id="barra2">
    <a href="{% url 'menuAdmin' %}" class="list-group-item text-sm-center list-group-item-action">Menú Principal</a>
    <a href="{% url 'nuevoProceso'%}" class="list-group-item text-sm-center list-group-item-action">Nuevo Proceso</a>
    <a href="{% url 'buscaProceso'%}" class="list-group-item text-sm-center list-group-item-action">Listar Proceso</a>
</div>
<!--Filtros de los procesos -->
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-xs-3 col-md-3 py-1">
                <div class="form-group">
                    <input id="coacheeUsuario" class="contactInput form-control" placeholder="Buscar por Coach">
                </div>
            </div>
            <div class="col-xs-3 col-md-3 py-1">
                <div class="form-group">
                    <input id="coachUsuario" class="contactInput form-control" placeholder="Buscar por Coachee">
                </div>
            </div>
            <span class="col-xs-6 col-md-3 py-1"></span>
            <div class="col-xs-3 col-md-3 py-1">
                <div class="form-group">
                    <input id="nombre" class="contactInput form-control" placeholder="Buscar por Empresa">
                </div>
            </div>
        </div>
    </div>
</div>
    <!--Listado de los procesos-->
<div class="container">
    <div id="listProceso">
        <table id="example" class="table thead-dark">
            <thead class="thead-dark">
                <tr class="cabecera">
                    <th scope="col">Proceso Empresa</th>
                    <th scope="col">Nombre Coachee</th>
                    <th scope="col">Nombre Coach</th>
                    <th scope="col">Fono</th>
                    <th scope="col">Estado</th>
                    <th scope="col" class="text-center">Visualizar</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Finalizar</th>
                </tr>
            </thead>
            <tbody>
                {% for proceso in entity %}
                <tr class="bg-light">
                    <th scope="row">{{ proceso.NOMBREEMPRESA }}</th>
                    <th scope="row">{{ proceso.NOMBRE }} {{ proceso.APELLIDO }}</th>
                    <th scope="row">{{ proceso.NOMBRECOACH }} {{ proceso.APELLIDOCOACH }}</th>
                    <th scope="row">{{ proceso.FONO }}</th>
                    <th scope="row" name="estado" >{{ proceso.DESCRIPCION }} </th>
                    <th scope="row" class=""><a href="{% url 'visInfoProceso' proceso.ID %}" target="_blank">
                        <i type="button" class="fas fa-book-reader d-flex justify-content-center"></i></a></th>
                    <th scope="row" class=""><i type="button" class="fas fa-edit d-flex justify-content-center" style="color: green;" 
                            data-bs-toggle="modal" data-bs-target="#exampleModal-{{ proceso.ID }}"></i></th>
                    <th scope="row" class=""><i type="button"
                            class="fas fa-clipboard-check d-flex justify-content-center" style="color: red;"  data-bs-toggle="modal"
                            data-bs-target="#finalizarProc-{{ proceso.ID }}"></i></th>
                
                    <!-- Button trigger modal -->
                    <!-- Modal -->
                    <div style="display: hidden;" class="modal fade" id="exampleModal-{{ proceso.ID }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Datos del Proceso</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container mt-2 bg-light">
                                        <form id="formModProceso-{{ proceso.ID }}" action="{% url 'modProceso' proceso.ID %}" method="POST">{% csrf_token %}
                                            <div class=" mt-2">
                                                <!--formulario para modificar procesos-->
                                                <div class="bg-light">
                                                    <div class="list-group d-flex col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                        
                                                        <div class="row mb-3">
                                                            <label for="nombreEmp"
                                                                class="col-sm-2 col-form-label">Nombre
                                                                Empresa</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" name="nombreEmpresa"
                                                                id="nombreEmpre-{{ proceso.ID }}" value="{{proceso.NOMBREEMPRESA}}">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="cantSesiones"
                                                                class="col-sm-2 col-form-label">Cantidad de
                                                                Sesiones</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" name="cantidadSesiones" id="cantiSesiones-{{ proceso.ID }}"
                                                                 value="{{proceso.CANTSESIONES}}">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="fechaInicio"
                                                                class="col-sm-2 col-form-label">Fecha de
                                                                Inicio</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" name="fechaCreacion" id="fechaInicio-{{ proceso.ID }}" value="{{proceso.FECHACREACION}}" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3 py-1">
                                                            <label for="coach"
                                                                class="col-md-12 col-form-label">Coachee Actual:</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" disabled id="coacheeProces-{{ proceso.ID }}" value="{{ proceso.NOMBRE }} {{ proceso.APELLIDO }}">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3 py-1">
                                                            <label for="coach"
                                                                class="col-md-12 col-form-label">Coach Actual:</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" disabled id="coachProces-{{ proceso.ID }}" value="{{ proceso.NOMBRECOACH }} {{ proceso.APELLIDOCOACH }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <span class="col-md-1"></span>

                                                <button type="submit"
                                                onclick="modProceso(this);"
                                                data-id="{{proceso.ID}}" class="btn btn-primary">Guardar
                                                    Cambios</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Button trigger modal -->
                    <!-- Modal -->
                    <div style="display: hidden;" class="modal fade" id="finalizarProc-{{ proceso.ID }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">¿Esta seguro que quiere finalizar este proceso? </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Proceso Empresa: {{proceso.NOMBREEMPRESA}} <br>
                              Coachee: {{ proceso.NOMBRE }} {{ proceso.APELLIDO }} <br>
                              Coach: {{ proceso.NOMBRECOACH }} {{ proceso.APELLIDOCOACH }} <br>  
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <span class="col-md-1"></span>
                                <a type="button" href="{% url 'finProceso' proceso.ID %}" class="btn btn-primary">Si, Finalizar!
                                    </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- Eliminar de aca -->
                    
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Paginación -->
{% if messages %}
{% for message in messages %}
    <script>
        Swal.fire({
                    title: '{{ message }}',
                    icon: '{{ message.tags }}',
                    heightAuto: false,
                    timer: 3000,
                    timerProgressBar: true
                })
    </script>
{% endfor %}
{% endif %}
{% endblock %}
{% block js %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}"/>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(document).ready(function (){
    var table = $('#example').DataTable({
       dom: 'lrtip',
       "lengthMenu": [10,20,30,40,50],
       "lengthChange": true,
       "autoWidth": false,
       "scrollX": true,
       "language": {
            "zeroRecords": "No se encontraron registros.",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": " ",
            "lengthMenu": "Mostrar _MENU_  filas",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "paginate": {
                    "first":      "Primero",
                    "last":       "Ultimo",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                    },
        },
        
    });

    $('#nombre').on('keyup change', function () {
        table.column(0).search($(this).val()).draw();
    });
    $('#coachUsuario').on('keyup change', function () {
        table.column(1).search($(this).val()).draw();
    });
    $('#coacheeUsuario').on('keyup change', function () {
        table.column(2).search($(this).val()).draw();
    });
});
</script>
{% endblock js %}