{% extends "menu/layoutMenu.html" %}
{% load static %}
{% block title %}Menu Administrador{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
{% block content %}
<!--Pregunta de seguridad para confirmar acción-->
<script>
    function finalizarProceso(id) {
        Swal.fire({
            title: '¿Estas seguro de finalizar el proceso?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'No!',
            confirmButtonText: 'Si, Finalizar!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    timer: 2000,
                    title: 'Finalizado!',
                    text: 'Operación Realizada con éxito',
                    showConfirmButton: false,
                })
                $('#exampleModal').modal('hide');
                $(".modal-backdrop").remove();
            }
        })
    }
</script>
<!--Menu Procesos-->

<div class="list-group flex-column flex-sm-row list-group-horizontal p-2" id="barra2">
    <a href="{% url 'menuAdmin' %}" class="list-group-item text-sm-center list-group-item-action">Menú Principal</a>
    <a href="{% url 'nuevoProceso'%}" class="list-group-item text-sm-center list-group-item-action">Nuevo Proceso</a>
    <a href="{% url 'buscaProceso'%}" class="list-group-item text-sm-center list-group-item-action">Listar Proceso</a>
</div>
<!--Filtros de los procesos -->
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <span class="col-xs-9 col-md-9 py-1"></span>
            <div class="col-xs-3 col-md-3 py-1">
                <div class="form-group">
                    <input id="nombre" class="contactInput form-control" placeholder="Buscar por Empresa">
                </div>
            </div>
        </div>
    </div>
</div>
    <!--Listado de los procesos-->
<div class="container">
    <div id="listProceso">
        <table id="example" class="table thead-dark">
            <thead class="thead-dark">
                <tr class="cabecera">
                    <th scope="col">Proceso Empresa</th>
                    <th scope="col">Nombre Coachee</th>
                    <th scope="col">Nombre Coach</th>
                    <th scope="col">Fono</th>
                    <th scope="col">Estado</th>
                    <th scope="col" class="text-center">Visualizar</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Finalizar</th>
                </tr>
            </thead>
            <tbody>
                {% for proceso in entity %}
                <tr class="bg-light">
                    <th scope="row">{{ proceso.NOMBREEMPRESA }}</th>
                    <th scope="row">{{ proceso.NOMBRE }} {{ proceso.APELLIDO }}</th>
                    <th scope="row">{{ proceso.NOMBRECOACH }} {{ proceso.APELLIDOCOACH }}</th>
                    <th scope="row">{{ proceso.FONO }}</th>
                    <th scope="row" name="estado" >{{ proceso.DESCRIPCION }} </th>
                    <th scope="row" class=""><a href="{% url 'visInfoProceso' proceso.ID %}" target="_blank">
                        <i type="button" class="fas fa-book-reader d-flex justify-content-center"></i></a></th>
                    <th scope="row" class=""><i type="button" class="fas fa-edit d-flex justify-content-center"
                            data-bs-toggle="modal" data-bs-target="#exampleModal-{{ proceso.ID }}"></i></th>
                    <th scope="row" class=""><i type="button"
                            class="fas fa-clipboard-check d-flex justify-content-center" data-bs-toggle="modal"
                            data-bs-target="#finalizarProc-{{ proceso.ID }}"></i></th>
                
                    <!-- Button trigger modal -->
                    <!-- Modal -->
                    <div style="display: hidden;" class="modal fade" id="exampleModal-{{ proceso.ID }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Datos del Proceso {{ proceso.ID }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container mt-2 bg-light">
                                        <form id="formModProceso-{{ proceso.ID }}" action="{% url 'modProceso' proceso.ID %}" method="POST">{% csrf_token %}
                                            <div class=" mt-2">
                                                <!--formulario para modificar procesos-->
                                                <div class="bg-light">
                                                    <div class="list-group d-flex col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                        
                                                        <div class="row mb-3">
                                                            <label for="nombreEmp"
                                                                class="col-sm-2 col-form-label">Nombre
                                                                Empresa</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" name="nombreEmpresa"
                                                                id="nombreEmpre-{{ proceso.ID }}" value="{{proceso.NOMBREEMPRESA}}">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="cantSesiones"
                                                                class="col-sm-2 col-form-label">Cantidad de
                                                                Sesiones</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" name="cantidadSesiones" id="cantiSesiones-{{ proceso.ID }}"
                                                                 value="{{proceso.CANTSESIONES}}">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="fechaInicio"
                                                                class="col-sm-2 col-form-label">Fecha de
                                                                Inicio</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" name="fechaCreacion" id="fechaInicio-{{ proceso.ID }}" value="{{proceso.FECHACREACION}}" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3 py-1">
                                                            <label for="coach"
                                                                class="col-md-12 col-form-label">Coachee Actual:</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" disabled id="coacheeProces-{{ proceso.ID }}" value="{{ proceso.NOMBRE }} {{ proceso.APELLIDO }}">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3 py-1">
                                                            <label for="coach"
                                                                class="col-md-12 col-form-label">Coach Actual:</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" disabled id="coachProces-{{ proceso.ID }}" value="{{ proceso.NOMBRECOACH }} {{ proceso.APELLIDOCOACH }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button onclick="location.reload();" type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <span class="col-md-1"></span>

                                                <button type="submit"
                                                onclick="modProceso(this);"
                                                data-id="{{proceso.ID}}" class="btn btn-primary">Guardar
                                                    Cambios</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Button trigger modal -->
                    <!-- Modal -->
                    <div style="display: hidden;" class="modal fade" id="finalizarProc-{{ proceso.ID }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Datos del Proceso</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container mt-2 bg-light">
                                        <div class=" mt-2">
                                            <!--formulario para modificar al usuarios-->
                                            <div class=" bg-light">
                                                <form class="form-horizontal">
                                                    <div class="">
                                                        <div class="panel panel-primary mt-2 px-2 bg-light">
                                                            <!--Datos personales del coachee-->
                                                            <div class="panel-body mt-2">
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <br>
                                                                        <label class="col-md-6 control-label"
                                                                            name="nombre">Nombre
                                                                            Coachee</label>
                                
                                                                        <div class="col-md-12">
                                                                            <input class="form-control"
                                                                                value="{{proceso.NOMBRE}} {{proceso.APELLIDO}}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <br>
                                                                        <label class="col-md-12 control-label">Nombre
                                                                            Jefe</label>
                                                                        <div class="col-md-12 col-lg-8">
                                                                            <input class="form-control" value="{{proceso.NOMBREJEFE}}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <br>
                                                                        <label class="col-md-12 control-label">Email
                                                                            Coachee</label>
                                                                        <div class="col-md-12">
                                                                            <input class="form-control" value="{{proceso.CORREO}}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <br>
                                                                        <label class="col-md-12 control-label">Email
                                                                            Jefe</label>
                                                                        <div class="col-md-12 col-lg-8">
                                                                            <input class="form-control" value="{{proceso.EMAILJEFE}}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <br>
                                                                        <label class="col-md-12 control-label"
                                                                            name="nombre">Telefono
                                                                            Coachee</label>
                                
                                                                        <div class="col-md-12">
                                                                            <input class="form-control" value="{{proceso.FONO}}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <br>
                                                                        <label class="col-md-12 control-label">Telefono
                                                                            Jefe</label>
                                
                                                                        <div class="col-md-12 col-lg-8">
                                                                            <input class="form-control" value="{{proceso.FONOJEFE}}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                            </div>
                                                        </div>
                                                        <!--detalles del proceso-->
                                                        <div class="panel panel-primary mt-4 px-2 bg-light">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <label class="col-md-12 control-label"
                                                                            name="nombre">Objetivo del
                                                                            Proceso:</label>
                                                                        <div class="col-md-12">
                                                                            <textarea class="form-control"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label class="col-md-12 control-label">Indicadores
                                                                            de
                                                                            Éxito:</label>
                                                                        <div class="col-md-12 col-lg-8">
                                                                            <textarea class="form-control"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-primary mt-4 px-2 bg-light">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <label class="col-md-12 control-label"
                                                                            name="nombre">Plan de
                                                                            Acción</label>
                                                                        <div class="col-md-12">
                                                                            <textarea class="form-control"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <!--Tabla con registro de fechas de las sesiones-->
                                                                    <!-- <div class="form-group table-responsive col-md-6">
                                                                        <table id="listSesion"
                                                                            class="table thead-dark border border-dark">
                                                                            <thead class="thead-dark">
                                                                                <tr class="cabecera">
                                                                                    <th scope="col">Sesión</th>
                                                                                    <th scope="col">Fecha</th>
                                                                                    <th scope="col">Hora</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr class="bg-light">
                                                                                    <th scope="row">1</th>
                                                                                    <th scope="row">05/06/2021</th>
                                                                                    <th scope="row">10:00</th>
                                                                                </tr>
                                                                                <tr class="bg-light">
                                                                                    <th scope="row">2</th>
                                                                                    <th scope="row">15/06/2021</th>
                                                                                    <th scope="row">10:00</th>
                                                                                </tr>
                                                                                <tr class="bg-light">
                                                                                    <th scope="row">3</th>
                                                                                    <th scope="row">25/06/2021</th>
                                                                                    <th scope="row">10:00</th>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div> -->
                                                                </div>
                                                                <br>
                                                            </div>
                                                        </div>
                                
                                                        <div class="">
                                                            <div class="row mt-3">
                                                                <div class="col-md-12">
                                                                    <div class="card text-center">
                                                                        <!--registro de las sesión-->
                                                                        <div class="card-header">
                                                                            <ul class="nav nav-tabs card-header-tabs">
                                                                                <li class="nav-item">
                                                                                    <a class="nav-link active"
                                                                                        href="#">Sesión 1</a>
                                                                                </li>
                                                                                <li class="nav-item">
                                                                                    <a class="nav-link" href="#">Sesión
                                                                                        2</a>
                                                                                </li>
                                                                                <li class="nav-item">
                                                                                    <a class="nav-link" href="#">Sesión
                                                                                        3</a>
                                                                                </li>
                                                                                <li class="nav-item">
                                                                                    <a class="nav-link" href="#">Sesión
                                                                                        4</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <!--Registro de cada sesión-->
                                                                            <form class="form-horizontal">
                                                                                <div class="row">
                                                                                    <div class="form-group col-md-6">
                                                                                        <br>
                                                                                        <label
                                                                                            class="col-md-12 control-label"
                                                                                            name="nombre">Descripción
                                                                                            Sesión:</label>
                                
                                                                                        <div class="col-md-12">
                                                                                            <textarea
                                                                                                class="form-control"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group col-md-6">
                                                                                        <br>
                                                                                        <label
                                                                                            class="col-md-12 control-label"
                                                                                            name="nombre">Asignaciones/Acuerdos:</label>
                                
                                                                                        <div class="col-md-12">
                                                                                            <textarea
                                                                                                class="form-control"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="form-group col-md-6">
                                                                                        <br>
                                                                                        <label
                                                                                            class="col-md-12 control-label"
                                                                                            name="nombre">Avances:</label>
                                
                                                                                        <div class="col-md-12">
                                                                                            <textarea
                                                                                                class="form-control"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!--sector donde se almacenan los documentos y links-->
                                                                                    <div class="form-group col-md-6">
                                                                                        <br>
                                                                                        <label
                                                                                            class="col-md-12 control-label"
                                                                                            name="nombre">Links:</label>
                                
                                                                                        <div class="col-md-12">
                                                                                            <textarea
                                                                                                class="form-control"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="form-group col-md-12">
                                                                                        <br>
                                                                                        <!--
                                                                        <label
                                                                            class="col-md-12 control-label">Documentos:</label>
                                                                        -->
                                                                                        <!-- <div class="col-md-12">
                                                                                            <div
                                                                                                class="form-group table-responsive col-md-12">
                                                                                                <table
                                                                                                    class="col-md-12 table thead-dark border">
                                                                                                    <thead
                                                                                                        class="thead-dark">
                                                                                                        <tr
                                                                                                            class="cabecera">
                                                                                                            <th scope="col">
                                                                                                                Documentos
                                                                                                            </th>
                                                                                                            <th scope="col"
                                                                                                                class="border d-flex justify-content-center">
                                                                                                                Descargar
                                                                                                            </th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                        <tr
                                                                                                            class="bg-light">
                                                                                                            <th scope="row">
                                                                                                                Coaching_v2.doc
                                                                                                            </th>
                                                                                                            <th scope="row"
                                                                                                                class="border">
                                                                                                                <i
                                                                                                                    class="fas fa-download d-flex justify-content-center">
                                                                                                            </th>
                                                                                                        </tr>
                                                                                                        <tr
                                                                                                            class="bg-light">
                                                                                                            <th scope="row">
                                                                                                                Presentación_inicial.ppt
                                                                                                            </th>
                                                                                                            <th scope="row"
                                                                                                                class="border">
                                                                                                                <i
                                                                                                                    class="fas fa-download d-flex justify-content-center">
                                                                                                            </th>
                                                                                                        </tr>
                                                                                                        <tr
                                                                                                            class="bg-light">
                                                                                                            <th scope="row">
                                                                                                                Tips_lenguaje_corporal.jpg
                                                                                                            </th>
                                                                                                            <th scope="row"
                                                                                                                class="border">
                                                                                                                <i
                                                                                                                    class="fas fa-download d-flex justify-content-center">
                                                                                                            </th>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </div> -->
                                                                                    </div>
                                                                                </div>
                                
                                                                                <br>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <span class="col-md-1"></span>
                                    <button type="button" onclick="finalizarProceso()" class="btn btn-primary">Finalizar
                                        Proceso</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Paginación -->
{% if messages %}
{% for message in messages %}
    <script>
        Swal.fire({
                    title: '{{ message }}',
                    icon: '{{ message.tags }}',
                    heightAuto: false,
                    timer: 3000,
                    timerProgressBar: true
                })
    </script>
{% endfor %}
{% endif %}
{% endblock %}
{% block js %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}"/>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(document).ready(function (){
    var table = $('#example').DataTable({
       dom: 'lrtip',
       "lengthMenu": [10,20,30,40,50],
       "lengthChange": true,
       "autoWidth": false,
       "scrollX": true,
       "language": {
            "zeroRecords": "No se encontraron registros.",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": " ",
            "lengthMenu": "Mostrar _MENU_  filas",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "paginate": {
                    "first":      "First",
                    "last":       "Last",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                    },
        },
        
    });

    $('#nombre').on('keyup change', function () {
        table.column(0).search($(this).val()).draw();
    });
});
</script>
{% endblock js %}