{% extends "menu/layoutMenu.html" %}
{% load static %}
{% block title %}Menu Administrador{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
{% block content %}
<!--Pregunta de seguridad para confirmar acción-->
<script>
    function finalizarProceso(id) {
        Swal.fire({
            title: '¿Estas seguro de finalizar el proceso?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'No!',
            confirmButtonText: 'Si, Finalizar!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    timer: 2000,
                    title: 'Finalizado!',
                    text: 'Operación Realizada con éxito',
                    showConfirmButton: false,
                })
                $('#exampleModal').modal('hide');
                $(".modal-backdrop").remove();
            }
        })
    }

</script>
<!--Pregunta de seguridad para confirmar acción-->
<script>
    function modProceso(id) {
        Swal.fire({
            title: '¿Estas seguro de realizar los cambios?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'No!',
            confirmButtonText: 'Si, Realizar!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    timer: 2000,
                    title: 'Modificado!',
                    text: 'El proceso ha sido actualizado.',
                    showConfirmButton: false,
                })
                $('#exampleModal').modal('hide');
                $(".modal-backdrop").remove();
            }
        })
    }
</script>

<!--Menu Procesos-->

<div class="list-group flex-column flex-sm-row list-group-horizontal p-2" id="barra2">
    <a href="{% url 'menuAdmin' %}" class="list-group-item text-sm-center list-group-item-action">Menú Principal</a>
    <a href="{% url 'nuevoProceso'%}" class="list-group-item text-sm-center list-group-item-action">Nuevo Proceso</a>
    <a href="{% url 'buscaProceso'%}" class="list-group-item text-sm-center list-group-item-action">Listar Proceso</a>
</div>
<!--Filtros de los procesos -->
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <span class="col-xs-9 col-md-9 py-1"></span>
            <div class="col-xs-3 col-md-3 py-1">
                <div class="form-group">
                    <input id="nombre" class="contactInput form-control" placeholder="Buscar por Empresa">
                </div>
            </div>
        </div>
    </div>
    
    <!--Listado de los procesos-->

    <div id="listProceso">
        <table id="example" class="table thead-dark">
            <thead class="thead-dark">
                <tr class="cabecera">
                    <th scope="col">Proceso Empresa</th>
                    <th scope="col">Nombre Coachee</th>
                    <th scope="col">Nombre Coach</th>
                    <th scope="col">Fono</th>
                    <th scope="col">Estado</th>
                    <th scope="col" class="border-start text-center">Visualizar</th>
                    <th scope="col" class="border-start text-center">Editar</th>
                    <th scope="col" class="border-start text-center">Finalizar</th>
                </tr>
            </thead>
            <tbody>
                {% for proceso in entity %}
                <tr class="bg-light">
                    <th scope="row">{{ proceso.NOMBREEMPRESA }}</th>
                    <th scope="row">{{ proceso.NOMBRE }} {{ proceso.APELLIDO }}</th>
                    <th scope="row">{{ proceso.NOMBRECOACH }} {{ proceso.APELLIDOCOACH }}</th>
                    <th scope="row">{{ proceso.FONO }}</th>
                    <th scope="row" name="estado" >{{ proceso.DESCRIPCION }}</th>

                    <th scope="row" class="border"><i type="button"
                            class="fas fa-book-reader d-flex justify-content-center" data-bs-toggle="modal"
                            data-bs-target="#visualizarProc"></i></th>
                    <th scope="row" class="border"><i type="button" class="fas fa-edit d-flex justify-content-center"
                            data-bs-toggle="modal" data-bs-target="#exampleModal"></i></th>
                    <th scope="row" class="border"><i type="button"
                            class="fas fa-clipboard-check d-flex justify-content-center" data-bs-toggle="modal"
                            data-bs-target="#finalizarProc"></i></th>
                </tr>
                



                <!-- Button trigger modal -->
                <!-- Modal -->
                <div style="display: hidden;" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            {% include 'procesos/modalEditarProcesos.html' %}
                        </div>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <!-- Modal Visualizar -->
                <div style="display: hidden;" class="modal fade" id="visualizarProc" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            {% include 'procesos/modalVerProcesos.html' %}
                        </div>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <!-- Modal -->
                <div style="display: hidden;" class="modal fade" id="finalizarProc" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            {% include 'procesos/modalFinalizarProcesos.html' %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Paginación -->
<div>
    {% include 'base/paginator.html' %}
</div>
{% endblock %}
{% block js %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}"/>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(document).ready(function (){
    var table = $('#example').DataTable({
       dom: 'lrtip',
       "lengthMenu": [10],
       "lengthChange": false,
       "autoWidth": false,
       "scrollX": true,
       "language": {
            "zeroRecords": "No se encontraron registros.",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No records available",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "paginate": {
                    "first":      "First",
                    "last":       "Last",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                    },
        },
        
    });

    $('#nombre').on('keyup change', function () {
        table.columns(2).search($(this).val()).draw();
    });
});
</script>
{% endblock js %}