{% extends "menu/layoutMenu.html" %}
{% load static %}
{% block title %}Menu Administrador{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
{% block content %}
<!--Pregunta de seguridad para confirmar acción-->
<script>
    function modProceso(id) {
        Swal.fire({
            title: 'Estas seguro de realizar la modificación?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'No!',
            confirmButtonText: 'Si, Modificar!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Modificado!',
                    'El proceso a sido actualizado.',
                    'Operación Realizada con exito'
                )
            }
        })
    }

</script>

<!--Menu Procesos-->
<div class="list-group flex-column flex-sm-row list-group-horizontal p-2" id="barra2">
    <a href="{% url 'menuAdmin' %}" class="list-group-item text-sm-center list-group-item-action">Menú Principal</a>
    <a href="{% url 'nuevoProceso'%}" class="list-group-item text-sm-center list-group-item-action">Nuevo Proceso</a>
    <a href="{% url 'buscaProceso'%}" class="list-group-item text-sm-center list-group-item-action">Modificar
        Proceso</a>
    <a href="{% url 'listProceso'%}" class="list-group-item text-sm-center list-group-item-action">Listar Proceso</a>
    <a href="{% url 'termiProceso'%}" class="list-group-item text-sm-center list-group-item-action">Finalizar
        Proceso</a>
</div>

<!--Formulario con datos cargados para modificar-->

<div class="container">
    <div class="row">
        <div class="list-group d-flex col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <form class="list-group-item">{% csrf_token %}
                <div class="row mb-3">
                    <label for="nombreEmp" class="col-sm-2 col-form-label">Nombre Empresa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombreEmp" placeholder="ThinkGo" value="Enjoy">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="cantSesiones" class="col-sm-2 col-form-label">Cantidad de Sesiones</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="cantSesiones" placeholder="N° de Sesiones"
                            value="4">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="fechaInicio" class="col-sm-2 col-form-label">Fecha de Inicio</label>
                    <div class="col-sm-10">
                        <input disabled type="date" class="form-control" id="fechaInicio">
                    </div>
                </div>
                <div class="row mb-3 py-1">
                    <!--<label for="coach" class="col-sm-2 col-form-label">Coach</label>-->
                    <div class="col-sm-10">
                        <select class="form-select">
                            <option style="display: none" selected>Seleccione un Coach</option>
                            <option value="1" selected>Ivan Espindola</option>
                            <option value="2">Stefano Ledezma</option>
                            <option value="3">Victor Gonzalez</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3 py-1">
                    <!--<label for="coach" class="col-sm-2 col-form-label">Coachee</label>-->
                    <div class="col-sm-10">
                        <select class="form-select">
                            <option style="display: none" selected>Seleccione un Coachee</option>
                            <option value="1">Carlos Jatib</option>
                            <option value="2" selected>Danilo Gomez</option>
                            <option value="3">Felipe Segura</option>
                        </select>
                    </div>
                </div>
                    <button class="btn mr-4 mb-2 btn-primary" type="button">Cancelar</button>
                    <a onclick="modProceso()" class="btn mr-2 mb-2 btn-primary float-end">Guardar modificaciones</a>
                <!--<button class="btn mr-2 mb-2 btn-primary pull-right" type="button" href="{% url 'buscaProceso'%}">Cancelar</button>-->
            </form>
        </div>
        <!-- Calendario -->
        <div class="d-flex col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="col-md-12">
                <div class="elegant-calencar d-md-flex">
                    <div class="wrap-header d-flex align-items-center img"
                        style="background-image: url(../../static/imagenes/bg.jpg);">
                        <p id="reset">Hoy</p>
                        <div id="header" class="p-0">
                            <!-- <div class="pre-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-left"></i></div> -->
                            <div class="head-info">
                                <div class="head-month"></div>
                                <div class="head-day"></div>
                            </div>
                            <!-- <div class="next-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-right"></i></div> -->
                        </div>
                    </div>
                    <div class="calendar-wrap">
                        <div class="w-100 button-wrap">
                            <div class="pre-button d-flex align-items-center justify-content-center"><i
                                    class="fa fa-chevron-left"></i></div>
                            <div class="next-button d-flex align-items-center justify-content-center"><i
                                    class="fa fa-chevron-right"></i></div>
                        </div>
                        <table id="calendar">
                            <thead>
                                <tr>
                                    <th>Lun</th>
                                    <th>Mar</th>
                                    <th>Mie</th>
                                    <th>Jue</th>
                                    <th>Vie</th>
                                    <th>Sab</th>
                                    <th>Dom</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Tabla con las fechas y horario de sesiones-->
                <table id="listSesion" class="table thead-dark">
                    <thead class="thead-dark">
                        <tr class="cabecera">
                            <th scope="col">Sesión</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-light">
                            <th scope="row">1</th>
                            <th scope="row">05/06/2021</th>
                            <th scope="row">10:00</th>
                        </tr>
                        <tr class="bg-light">
                            <th scope="row">2</th>
                            <th scope="row">15/06/2021</th>
                            <th scope="row">10:00</th>
                        </tr>
                        <tr class="bg-light">
                            <th scope="row">3</th>
                            <th scope="row">25/06/2021</th>
                            <th scope="row">10:00</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{% static '/js/jquery.min_calendar.js' %}"></script>
    <script src="{% static '/js/popper_calendar.js' %}"></script>
    <script src="{% static '/js/bootstrap.min_calendar.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
<!--Se obtine fecha actual-->
    <script>
        var date = new Date();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;
        var today = year + "-" + month + "-" + day;
        document.getElementById('fechaInicio').value = today;
    </script>
    {% endblock %}