{% extends "menu/layoutMenu.html" %}
{% load static %}
{% block title %}Menu Administrador{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="{% static 'css/jalendar.min.css' %}" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<!--jQuery-->
<script type="text/javascript" src="{% static 'js/jalendar.min.js' %}"></script>
{% endblock %}
{% block content %}
<!--Menu Procesos-->
<div class="list-group flex-column flex-sm-row list-group-horizontal p-2" id="barra2">
  <a href="{% url 'menuAdmin' %}" class="list-group-item text-sm-center list-group-item-action">Menú Principal</a>
  <a href="{% url 'nuevoProceso'%}" class="list-group-item text-sm-center list-group-item-action">Nuevo Proceso</a>
  <a href="{% url 'buscaProceso'%}" class="list-group-item text-sm-center list-group-item-action">Listar Procesos</a>
</div>

<!--Formulario para crear proceso y Calendario -->
<!--Formulario-->
<div class="container">
  <div class="row">
    <div class="list-group d-flex col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <form class="list-group-item" id="formProc" action="" method="POST">{% csrf_token %}
        <div class="row mb-3">
          <label for="nombreEmp" class="col-sm-2 col-form-label">Nombre Empresa</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="nombreEmpre" id="nombreEmpre" placeholder="ThinkGo">
          </div>
        </div>
        <div class="row mb-3">
          <label for="cantSesiones" class="col-sm-2 col-form-label">Cantidad de Sesiones</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="cantiSesiones" id="cantiSesiones"
              placeholder="N° de Sesiones">
          </div>
        </div>
        <div class="row mb-3">
          <label for="fechaInicio" class="col-sm-2 col-form-label">Fecha de Inicio</label>
          <div class="col-sm-10">
            <input disabled type="date" class="form-control" name="fechaInicio" id="fechaInicio">
          </div>
        </div>
        <div class="row mb-3 py-1">
          <!--<label for="coach" class="col-sm-2 col-form-label">Coach</label>-->
          <div class="col-sm-10">
            <select class="form-select" id="coachProces" name="coachProces">
              <option disabled="disabled" selected>Seleccione un Coach</option>
              {% for usuariocoach in list_usuario %}
              {% if usuariocoach.PERFIL_ID == 2 and usuariocoach.ACTIVO == 1%}
              <option value="{{ usuariocoach.ID }}">{{ usuariocoach.NOMBRE }} {{ usuariocoach.APELLIDO }}</option>

              {% endif %}


              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row mb-3 py-1">
          <!--<label for="coach" class="col-sm-2 col-form-label">Coachee</label>-->
          <div class="col-sm-10">
            <select class="form-select" id="coacheeProces" name="coacheeProces">
              <option disabled="disabled" selected>Seleccione un Coachee</option>
              {% for usuarios in list_usuario %}
              {% if usuarios.PERFIL_ID == 3 and usuarios.ACTIVO == 1%}
              <option value="{{usuarios.ID}}">{{usuarios.NOMBRE}} {{usuarios.APELLIDO}}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <button type="submit" onclick="newProceso()" class="btn btn-primary float-end">Crear Proceso</button>
      </form>
    </div>
    <!-- Calendario -->
    <div class="d-flex col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
      <div class="col-md-12 align-items-center ps-5">
        <h3 class="text-center fw-bold">Calendario</h3>
        <div id="yourId" class="jalendar">
          <div class="added-event" data-type="task" data-date="24-10-2021" data-title="Cumpleaños Ivan Espindola">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  $('#yourId').jalendar({
      color: '#0080c9',
      color2: 'rgba( 255, 255, 255, 0.9 )',
      lang: 'ES',
      titleColor: '#000000', // color del mes 
      weekColor: '#000000', // color de la semana
      dayColor: '#000000', // color de los dias 
      todayColor: '#52BE80', // color del dia de hoy 
  });
</script>
<!--Se obtine fecha actual-->
<script>
  var date = new Date();
  var day = date.getDate();
  var month = date.getMonth() + 1;
  var year = date.getFullYear();
  if (month < 10) month = "0" + month;
  if (day < 10) day = "0" + day;
  var today = year + "-" + month + "-" + day;
  document.getElementById('fechaInicio').value = today;
</script>
{% if messages %}
{% for message in messages %}
<script>
  Swal.fire({
    title: '{{ message }}',
    icon: '{{ message.tags }}',
    heightAuto: false,
    timer: 3000,
    timerProgressBar: true
  })
</script>
{% endfor %}
{% endif %}
{% endblock %}