{% extends "menu/layoutMenu.html" %}
{% load static %}
{% block title %}Menu Administrador{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<!--Menu Procesos-->

<div class="list-group flex-column flex-sm-row list-group-horizontal p-2" id="barra2">
    <a href="{% url 'menuAdmin' %}" class="list-group-item text-sm-center list-group-item-action">Menú Principal</a>
    <a href="{% url 'nuevoProceso'%}" class="list-group-item text-sm-center list-group-item-action">Nuevo Proceso</a>
    <a href="{% url 'buscaProceso'%}" class="list-group-item text-sm-center list-group-item-action">Listar Procesos</a>
</div>

<!--Ultimos Procesos Creados y Calendario -->

<div class="container">
    <div class="row">
        <div class="list-group d-flex col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 p-1">
            <h3 class="text-center fw-bold">Listado de Procesos</h3>
            {% for proceso in list_proceso %}
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <h5 class="mb-1">Proceso Empresa: {{ proceso.NOMBREEMPRESA }}</h5>
                    <p class="mb-1">Coachee: {{ proceso.NOMBRE }} {{ proceso.APELLIDO }}</p>
                    <p class="mb-1">Estado: {{ proceso.DESCRIPCION }}</p>
                </a>
            {% endfor %}
        </div>
        <!-- Calendario -->
        <div class="d-flex col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="col-md-12">
                <h3 class="text-center fw-bold">Calendario</h3>
                <div class="elegant-calencar d-md-flex py-1">
                    <div class="wrap-header d-flex align-items-center img"
                        style="background-image: url(../../static/imagenes/bg.jpg);">
                        <p id="reset">Hoy</p>
                        <div id="header" class="p-0">
                            <!-- <div class="pre-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-left"></i></div> -->
                            <div class="head-info">
                                <div class="head-month"></div>
                                <div class="head-day"></div>
                            </div>
                            <!-- <div class="next-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-right"></i></div> -->
                        </div>
                    </div>
                    <div class="calendar-wrap">
                        <div class="w-100 button-wrap">
                            <div class="pre-button d-flex align-items-center justify-content-center"><i
                                    class="fa fa-chevron-left"></i></div>
                            <div class="next-button d-flex align-items-center justify-content-center"><i
                                    class="fa fa-chevron-right"></i></div>
                        </div>
                        <table id="calendar">
                            <thead>
                                <tr>
                                    <th>Lun</th>
                                    <th>Mar</th>
                                    <th>Mie</th>
                                    <th>Jue</th>
                                    <th>Vie</th>
                                    <th>Sab</th>
                                    <th>Dom</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="{% static '/js/jquery.min_calendar.js' %}"></script>
<script src="{% static '/js/popper_calendar.js' %}"></script>
<script src="{% static '/js/bootstrap.min_calendar.js' %}"></script>
<script src="{% static '/js/main.js' %}"></script>

{% endblock %}