{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS necesarios para el Menu -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'imagenes/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/footer.css' %}">
    <script src="{% static 'js/validaciones.js'%}"></script>
    <!-- Se agrega bloque para el head -->
    {% block head %} {% endblock %}
    <!-- Se agrega bloque para los titulos -->
    <title>{% block title %} {% endblock %}</title>
</head>

<body id="imagen-fondo">
    <!-- ESTO HAY QUE REVISARLO, Al ingresar a otra "pagina" no muestra el menu -->
    <!-- hay que ver si lo dejamos aca o en cada html -->
    <!-- Inicio Sidebar collapse por prefil -->
    {% if usuario.perfil == 1 or usuario.perfil == 2 %}
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        {% if usuario.perfil == 1 %}
        <a href="{% url 'menuAdmin' %}">
            <img src="{% static 'imagenes/logo-thinkgo.png' %}" class="img-fluid" alt="Logo ThinkGo">
        </a>
        <!-- ESTO HAY QUE REVISARLO, SE DEJARA EL PERFIL Y CERRAR SESION ACA O ABAJO -->
        <!-- Opciones segun perfil -->
       
        <!--<a href="{% url 'menuAdmin' %}">Inicio</a>-->
        <a href="{% url 'menuAdmin' %}" id="sidebarmenu" class="d-sm-block d-md-none">Menú Principal</a>
        <a href="{% url 'procesosAdmin' %}" id="sidebarmenu">Procesos</a>
        <ul class="d-sm-block d-md-none" id="sidebarmenu">
            <a href="{% url 'nuevoProceso'%}">Nuevo Proceso</a>
            <a href="{% url 'buscaProceso'%}">Modificar Proceso</a>
            <a href="{% url 'termiProceso'%}">Finalizar Proceso</a>
        </ul>
        <a href="{% url 'usuariosAdmin' %}" id="sidebarmenu">Usuarios</a>
        <ul class="d-sm-block d-md-none"  id="sidebarmenu">
            <a href="{% url 'nuevoUsuario'%}">Nuevo Usuario</a>
            <a href="{% url 'listUsuarios'%}">Listar Usuarios</a>
        </ul>
        <!--
        <a href="#">Perfil</a>
        <a href="/">Cerrar Sesión</a>
        -->
        {% elif usuario.perfil == 2 %}
        <a href="{% url 'menuCoach' %}">
            <img src="{% static 'imagenes/logo-thinkgo.png' %}" class="img-fluid" alt="Logo ThinkGo">
        </a>
        <a href="{% url 'procAsig' %}">Procesos Asignados</a>
        <a href="{% url 'listProCoach'%}">Listar Proceso</a>
        {% endif %}
    </div>
    {% endif %}

    <!-- ESTO HAY QUE REVISARLO, SE DEJARA EL PERFIL Y CERRAR SESION ACA O ARRIBA -->
    <!-- Dropdown para Perfil y Cerrar Sesión -->
    <div class="dropdown" id="main">
        <div class="header">
            <!-- Botón para el menu sidebar -->
            {% if usuario.perfil == 1 or usuario.perfil == 2 %}
            <button class="openbtn" onclick="openNav()">&#9776; Menú </button>
            {% elif usuario.perfil == 3 %}
            <a href="{% url 'menuCoachee' %}">
                <img class="openbtnimg" src="{% static 'imagenes/logo-thinkgo.png' %}">
            </a>
            {% endif %}
            <!-- Bienvenida al usuario por su nombre -->
            <button class="col-xs-10 openbtn dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
                style="float:right;">Hola {{ usuario.nombre }}</button>

            <!-- Opciones del perfil  -->
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Perfil</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
            </div>
        </div>
    </div>

    <!-- Se agrega bloque para el body -->
    {% block content%} {% endblock%}
<!-- Footer -->

<!--footer class="page-footer font-small mdb-color darken-3 pt-4">

     Copyright 
    <div class="footer-copyright text-center py-3">© 2021 Copyright: Castivine
    </div>
    Copyright

</footer>
 Footer -->
 <footer class="footer">
    <div class="container">
        <br>
      <div class="footer-copyright text-center ">© 2021 Copyright: Castivine</div>
    </div>
  </footer>

</body>



<!-- Script JS necesarios para el Menu -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>
<!-- Custom script -->
{% block js %}

{% endblock js %}


<!--Modal perfil-->
<div style="display: hidden;" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {% include 'Perfil/perfil.html' %}
        </div>
    </div>
</div>



</html>