{% extends "menu/layoutMenu.html" %}
{% load static %}
{% block title %}Menu Coachee{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/progressBar.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/jalendar.min.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<!--jQuery-->
<script type="text/javascript" src="{% static 'js/jalendar.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<!-- Listado de Sesiones -->
<div class="container">
  <div class="row">
    <div class="list-group d-flex col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 p-1">
      <h3 class="text-center">Procesos</h3>
      {% for proceso in entity %}
        <a href="{% url 'infoProCoachee' proceso.ID %}" class="rounded-3 border-dark list-group-item list-group-item-action"
          style="border-radius: 5px; margin-block-end: 10px;" aria-current="true" target="_blank">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Proceso Empresa: {{ proceso.NOMBREEMPRESA }}</h5>
          </div>
          <p class="mb-1">Coach: {{ proceso.NOMBRECOACH }} {{ proceso.APELLIDOCOACH }}</p>
          <p class="mb-1">Coachee: {{ proceso.NOMBRE }} {{ proceso.APELLIDO }}</p>
          <div class="containerProgressBar nav col-md-12">
            <ul class="progressbar navbuttons col-md-12">
                {% for proceso in listaBar %}
                <span class="d-none">{{ forloop.parentloop }}</span>
                {% if proceso.ESTADOSESION_ID != 4 %}
                <li class="">sesión {{ forloop.counter }}</li>
                {% endif %}
                {% if proceso.ESTADOSESION_ID == 4 %}
                <li class="activeBar">sesión {{ forloop.counter }}</li>
                {% endif %}
                {% endfor %}
            </ul>
          </div>
        </a>     
      {% empty %}
        <a href="#" class="rounded-3 border-dark list-group-item list-group-item-action" style="border-radius: 5px; margin-block-end: 10px;" aria-current="true">
          <div class="d-flex w-100 justify-content-center">
              <h5 class="mb-1 text-center">No hay sesiones para el día de hoy</h5>
          </div>
        </a>
      {% endfor %}

      <!-- Paginación -->
      <div>
        {% include 'base/paginator.html' %}
      </div>
    </div>
    <!-- Calendario -->
    {% include "base/calendario.html" %}
  </div>
</div>
{% endblock %}