{% extends "menu/layoutMenu.html" %}
{% load static %}
{% block title %} Menu Coach {% endblock%}
{% block content %}
<!--
<div id="mySidebar" class="sidebar">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="">
        <img src="{% static 'imagenes/logo-thinkgo.png' %}" class="img-fluid" alt="Logo ThinkGo">
    </a>
    <a href="#">Procesos Asignados</a>
    <a href="#">Listar Procesos</a>
</div>
-->

<div class="dropdown" id="main">
    <div class="header">
        <img class="openbtnimg" src="{% static 'imagenes/logo-thinkgo.png' %}">
        <button class="openbtn dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            style="float:right;">Hola Victor González</button>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="/">Cerrar Sesión</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <h3>Sesiones del día 13 de Septiembre del 2021</h3>   
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Proceso Empresa: Provida</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Estado: Primera Sesión</h6>
                    <p class="card-subtitle">Coach: Nelson Danilo Gómez</p>
                    <p class="card-subtitle">Coachee: Victor González</p>
                  </div>
            </div>
        </div>
        <div class="col">
                <h3>Septiembre del 2021</h3>
                <section id="calendar">
                    <div id="day-labels">
                        <div class="label">Lunes</div>
                        <div class="label">Martes</div>
                        <div class="label">Miercoles</div>
                        <div class="label">Jueves</div>
                        <div class="label">Viernes</div>
                        <div class="label">Sabado</div>
                        <div class="label">Domingo</div>
                    </div>
                    <div id="one" class="week">
                        <div class="day noDate"></div>
                        <div class="day noDate"></div>
                        <div class="day">
                            <span class="date">1</span>
                        </div>
                        <div class="day">
                            <span class="date">2</span>
                        </div>
                        <div class="day">
                            <span class="date">3</span>
                        </div>
                        <div class="day">
                            <span class="date">4</span>
                        </div>
                        <div class="day">
                            <span class="date">5</span>
                        </div>
                    </div>
                    <div id="two" class="week">
                        <div class="day">
                            <span class="date">6</span>
                        </div>
                        <div class="day">
                            <span class="date">7</span>
                        </div>
                        <div class="day">
                            <span class="date">8</span>
                        </div>
                        <div class="day">
                            <span class="date">9</span>
                        </div>
                        <div class="day">
                            <span class="date">10</span>
                        </div>
                        <div class="day">
                            <span class="date">11</span>
                        </div>
                        <div class="day">
                            <span class="date">12</span>
                        </div>
                    </div>
                    <div id="three" class="week">
                        <div class="day">
                            <span class="date today">13</span>
                        </div>
                        <div class="day">
                            <span class="date">14</span>
                        </div>
                        <div class="day">
                            <span class="date">15</span>
                        </div>
                        <div class="day">
                            <span class="date">16</span>
                        </div>
                        <div class="day">
                            <span class="date">17</span>
                        </div>
                        <div class="day">
                            <span class="date">18</span>
                        </div>
                        <div class="day">
                            <span class="date">19</span>
                        </div>
                    </div>
                    <div id="four" class="week">
                        <div class="day">
                            <span class="date">20</span>
                        </div>
                        <div class="day">
                            <span class="date">21</span>
                        </div>
                        <div class="day">
                            <span class="date">22</span>
                        </div>
                        <div class="day">
                            <span class="date">23</span>
                        </div>
                        <div class="day">
                            <span class="date">24</span>
                        </div>
                        <div class="day">
                            <span class="date">25</span>
                        </div>
                        <div class="day">
                            <span class="date">26</span>
                        </div>
                    </div>
                    <div id="four" class="week">
                        <div class="day">
                            <span class="date">27</span>
                        </div>
                        <div class="day">
                            <span class="date">28</span>
                        </div>
                        <div class="day">
                            <span class="date">29</span>
                        </div>
                        <div class="day">
                            <span class="date">30</span>
                        </div>
                        <div class="day noDate"></div>
                        <div class="day noDate"></div>
                        <div class="day noDate"></div>
                    </div>
                </section>
        </div>
    </div>
</div>
    {% endblock %}