{% extends "menu/layoutMenu.html" %}
{% load static %}
{% block title %}Menú Coachee{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
<script type="text/javascript" src="{% static 'js/sweetalert2@11.js' %}"></script>
{% endblock %}
{% block content %}

{% for procesos in entity %}

<H2 class="text-center" name="nombreEmpre" id="nombreEmpre-{{ procesos.ID }}">Proceso Empresa:
    {{procesos.NOMBREEMPRESA}}</H2>
<!--Formulario del proceso y sus sesiones -->
<div class="container bg-light">
    <form class="form-horizontal" id="formModProcesoCoachee-{{ procesos.ID }}"
        action="{% url 'modPlanAccion' procesos.ID %}" method="POST">{% csrf_token %}
        <div class="container">
            <div class="panel panel-primary mt-2 px-2 bg-light">
                <!--Datos personales del coachee-->
                <div class="panel-body mt-2">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-6 control-label" name="nombre">Nombre Coachee</label>

                            <div class="col-md-12">
                                <input class="form-control" name="nombreCoachee" id="nombreCoachee-{{ procesos.ID }}"
                                    value="{{procesos.NOMBRE}} {{procesos.APELLIDO}}" readonly />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-6 control-label">Nombre Jefe</label>
                            <div class="col-md-12 col-lg-8">
                                <input class="form-control" name="nombreJefe" id="nombreJefe-{{ procesos.ID }}"
                                    value="{{procesos.NOMBREJEFE}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-6 control-label">Email Coachee</label>
                            <div class="col-md-12">
                                <input class="form-control" name="correoCoachee" id="correoCoachee-{{ procesos.ID }}"
                                    value="{{procesos.CORREO}}" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-6 control-label">Email Jefe</label>
                            <div class="col-md-12 col-lg-8">
                                <input class="form-control" name="correoJefe" id="correoJefe-{{ procesos.ID }}"
                                    value="{{procesos.EMAILJEFE}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-12 control-label" name="telefono">Telefono Coachee</label>

                            <div class="col-md-12">
                                <input class="form-control" name="telefonoCoachee"
                                    id="telefonoCoachee-{{ procesos.ID }}" value="{{procesos.FONO}}" readonly />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-6 control-label">Telefono Jefe</label>

                            <div class="col-md-12 col-lg-8">
                                <input class="form-control" name="telefonoJefe" id="telefonoJefe-{{ procesos.ID }}"
                                    value="{{procesos.FONOJEFE}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--detalles del proceso-->
            <div class="panel panel-primary px-2 bg-light">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-12 control-label" name="nombre">Objetivo del proceso:</label>
                            <div class="col-md-12">
                                <textarea rows="5" class="form-control" name="objetivosProc"
                                    id="objetivosProc-{{ procesos.ID }}" readonly>{{procesos.OBJETIVOS}}</textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-12 control-label">Indicadores de exito:</label>
                            <div class="col-md-12 col-lg-8">
                                <textarea rows="5" class="form-control" name="indicadoresProc"
                                    id="indicadoresProc-{{ procesos.ID }}" readonly>{{procesos.INDICADORES}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary px-2 bg-light">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-6 control-label" name="nombre">Plan de Acción</label>
                            <div class="col-md-12">
                                <textarea rows="7" class="form-control" name="planAccionProc"
                                {% if procesos.IDESTADOPROCESO == 1 or procesos.IDESTADOPROCESO == 6 %} readonly {% endif %} 
                                    id="planAccionProc-{{ procesos.ID }}">{{procesos.PLANACCION}}</textarea>
                            </div>
                        </div>
                        <!--Tabla con registro de fechas de las sesiones-->
                        <div class="form-group col-md-6">
                            <br>
                            <table id="fechas" class="table thead-dark border border-dark">
                                <thead class="thead-dark">
                                    <tr class="cabecera">
                                        <th scope="col">Sesión</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Hora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sesion in sesiones %}
                                    <tr class="bg-light">
                                        {% if sesion.FECHASESION == None %}
                                        <th scope="row">Sesión: {{ forloop.counter }}</th>
                                        <th scope="row">Sin Agendar</th>
                                        <th scope="row">Sin Agendar</th>
                                        {% else %}
                                        <th scope="row">Sesión: {{ forloop.counter }}</th>
                                        <th scope="row">{{sesion.FECHASESION}}</th>
                                        <th scope="row">{{sesion.HORASESION}}</th>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="container">
                        <br>
                        <div class="col-md-12">
                            <button type="submit" onclick="modPlanAccion(this)" data-id="{{procesos.ID}}"
                            {% if procesos.IDESTADOPROCESO == 1 or procesos.IDESTADOPROCESO == 6 %} disabled {% endif %} 
                                class="btn btn-primary float-start col-md-2">Grabar</button>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </form>
    {% endfor %}
    {% for procesos in entity %}
    <div class="container">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="row">
                        <!--registro de cada sesión-->
                        {% for sesion in sesiones %}
                        <p class="collapsible">Sesión {{ forloop.counter }}</p>
                        <div class="content">
                            <div class="panel-body">
                                <!--Registro de Fecha/hora y estado de cada sesión-->
                                <form class="form-horizontal"action="{% url 'modSesionAvance' sesion.ID %}"
                                id="formSesionesCoachee-{{ sesion.ID }}" method="POST">{% csrf_token %}
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-12 control-label" name="fechaSesion">Fecha
                                                        sesión:</label>
                                                    <div class="col-md-12">
                                                        <input type="date" id="hoy" name="fechaSesion"
                                                            value="{{sesion.FECHASESION}}" class="form-control"
                                                            min="2021-10-01" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-12 control-label" name="horaSesion">Hora
                                                        sesión:</label>
                                                    <div id="hora" class="col-md-12" readonly>
                                                        <input class="col-md-12 p-1" name="horaSesion" id="appt-time"
                                                            type="time" name="appt-time" min="12:00" max="18:00"
                                                            value="{{sesion.HORASESION}}"  disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-md-6 control-label" name="estadoSesion">Estado
                                                sesión:</label>
                                            <div class="col-md-12">
                                                <select class="form-select" aria-label="Default select example" disabled>
                                                    {% for estSesion in estadosSesion %}
                                                    <option name="estadoSesion" id="estadoSesion-{{ sesion.ID }}"
                                                        value="{{estSesion.ID}}" {% if estSesion.ID < sesion.ESTADOSESION_ID %} hidden {% endif %} 
                                                        {% if estSesion.ID == sesion.ESTADOSESION_ID %} selected {% endif %}>
                                                        {{estSesion.DESCRIPCION}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <br>
                                            <label class="col-md-12 control-label" name="descSesion">Descripción
                                                sesión:</label>

                                            <div class="col-md-12">
                                                <textarea rows="4" name="descSesion" class="form-control"
                                                    readonly>{{sesion.DESCRIPCION}}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <br>
                                            <label class="col-md-6 control-label"
                                                name="asigSesion">Asignaciones/Acuerdos:</label>

                                            <div class="col-md-12">
                                                <textarea rows="4" name="asigSesion" class="form-control"
                                                    readonly>{{sesion.ASIGNACION}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <br>
                                            <label class="col-md-6 control-label" name="avancesSesion">Avances:</label>

                                            <div class="col-md-12">
                                                <textarea rows="4" name="avancesSesion" class="form-control"
                                                    readonly>{{sesion.AVANCES}}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <br>
                                            <label class="col-md-12 control-label" name="respuestaSesion">Estado de asignaciones:</label>

                                            <div class="col-md-12">
                                                <textarea rows="4" name="respuestaAvancesSesion"
                                                id="respuestaAvancesSesion-{{ sesion.ID }}" 
                                                {% if sesion.ESTADOSESION_ID == 1 or sesion.ESTADOSESION_ID == 4 %} readonly {% endif %} 
                                                class="form-control">{{sesion.RESPUESTA}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--sector donde se almacenan los documentos y links-->
                                        <div class="form-group col-md-6">
                                            <br>
                                            <label class="col-md-6 control-label" name="nombre">Documentos:</label>
                                            <div class="form-group col-md-12">
                                                <table id="archivos" class="table thead-dark border border-dark">
                                                    <thead class="thead-dark">
                                                        <tr class="cabecera">
                                                            <th scope="col">Nombre</th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for gestor in gestores %}
                                                        {% if gestor.IDLINKGE == sesion.ID and gestor.LINKGE != None %}
                                                            <tr class="bg-light">
                                                                <th scope="row"><a href="{{gestor.LINKGE}}" target="_blank">{{gestor.NOMBREARCHIVO}}</a></th>
                                                                <th scope="row"><i class="far fa-file-archive"></i>
                                                                </th>
                                                            </tr>
                                    
                                                        {% elif gestor.IDLINKGE == sesion.ID and gestor.LINKGE == None  %}
                                                            <tr class="bg-light">
                                                                <th scope="row">No hay archivos que mostrar para esta sesión</th>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <br>
                                            <label class="col-md-6 control-label" name="nombre">Links:</label>
                                            <div class="form-group col-md-12">
                                                <table id="enlaces" class="table thead-dark border border-dark">
                                                    <thead class="thead-dark">
                                                        <tr class="cabecera">
                                                            <th scope="col">Dirección</th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for gestor in enlaces %}
                                                        {% if gestor.IDLINKEN == sesion.ID and gestor.LINKEN != None %}
                                                            <tr class="bg-light">
                                                                <th scope="row"><a href="{{gestor.LINKEN}}" target="_blank">{{gestor.LINKEN}}</a></th>
                                                                <th scope="row"><i class="far fa-paper-plane"></i>
                                                                </th>
                                                            </tr>
                                                        {% else %}
                                                            <tr class="bg-light">
                                                                <th scope="row">No hay links que mostrar para esta sesión</th>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <input type="text" name="proceso" id="proceso" class="d-none" value="{{procesos.ID}}">
                                    <div class="container">
                                        <button type="submit" onclick="modSesionesCoachee(this);" data-id="{{sesion.ID}}"
                                            {% if sesion.ESTADOSESION_ID == 1 or sesion.ESTADOSESION_ID == 4 %} disabled {% endif %}
                                            class="btn btn-primary float-end col-md-2">Grabar</button>
                                    </div>
                                    <br>
                                </form>

                            </div>
                            <br>
                        </div>

                        {% endfor %}
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--Boton para almacena la informacion del proceso-->
    <a onclick="window.close ()" class="btn btn-secondary float-start col-md-2">Cerrar</a>
    <br>
    <br>
    <br>
</div>

{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        title: '{{ message }}',
        icon: '{{ message.tags }}',
        heightAuto: false,
        timer: 3000,
        timerProgressBar: true
    })
</script>
{% endfor %}
{% endif %}
{% endblock %}

{% block js %}

<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
    $(document).ready(function () {
        var table = $('#fechas').DataTable({
            dom: 'lrtip',
            "lengthMenu": [5],
            "lengthChange": false,
            "autoWidth": false,
            "scrollX": true,
            "info": false,
            "paginate": false,
            "language": {
                "zeroRecords": "No se encontraron registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },

        });
    });
</script>
<script>
    $(document).ready(function () {
        var table = $('#archivos').DataTable({
            dom: 'lrtip',
            "lengthMenu": [5],
            "lengthChange": false,
            "autoWidth": false,
            "scrollX": true,
            "info": false,
            "paginate": false,
            "language": {
                "zeroRecords": "No se encontraron registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },

        });
    });
</script>
<script>
    $(document).ready(function () {
        var table = $('#enlaces').DataTable({
            dom: 'lrtip',
            "lengthMenu": [5],
            "lengthChange": false,
            "autoWidth": false,
            "scrollX": true,
            "info": false,
            "paginate": false,
            "language": {
                "zeroRecords": "No se encontraron registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },

        });
    });
</script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock js %}
