{% extends "menu/layoutMenu.html" %}
{% load static %}
{% block title %}Menu Coach{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
{% block content %}

<!--Filtros de los procesos -->
<br>
<br>
<div class="container">
    <h2 class="text-center fw-bold">Lista de Procesos en Curso</h2>
    <br>
    <!--filtro para buscar entre los procesos-->
    <div class="col-md-12">
        <div class="row">
            <div class="col-xs-4 col-md-4 py-1">
                <div class="form-group">
                    <input id="nombreEmp" class="contactInput form-control" placeholder="Buscar por Empresa">
                </div>
            </div>
            <span class="col-xs-4 col-md-4 py-1"></span>
            <div class="col-xs-4 col-md-4 py-1">
                <div class="form-group">
                    <input id="nombreCoachee" class="contactInput form-control" placeholder="Buscar por Coachee">
                </div>
            </div>
        </div>
    </div>
    <!--Listado de los procesos asignados-->
    <div id="listProceso">
        <table id="example" class="table thead-dark">
            <thead class="thead-dark">
                <tr class="cabecera">
                    <th scope="col">Proceso Empresa</th>
                    <th scope="col">Nombre Coachee</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Estado</th>
                    <th scope="col" class=" text-center">Visualizar</th>
                </tr>
            </thead>
            <tbody>
                {% for procesos in entity %}
                <tr class="bg-light">
                    <th scope="row">{{procesos.NOMBREEMPRESA}}</th>
                    <th scope="row">{{procesos.NOMBRE}} {{procesos.APELLIDO}}</th>
                    <th scope="row">{{procesos.CORREO}}</th>
                    <th scope="row">{{procesos.FONO}}</th>
                    <th scope="row">{{procesos.DESCRIPCION}}</th>
                    <th scope="row" class=""><a href="{% url 'infoProcCoach' procesos.ID %}">
                        <i type="button" class="fas fa-address-book d-flex justify-content-center"></i></a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        title: '{{ message }}',
        icon: '{{ message.tags }}',
        heightAuto: false,
        timer: 3000,
        timerProgressBar: true
    })
</script>
{% endfor %}
{% endif %}
{% endblock %}
<!-- Custom script -->
{% block js %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            dom: 'lrtip',
            "lengthMenu": [10],
            "lengthChange": false,
            "autoWidth": false,
            "scrollX": true,
            "language": {
                "zeroRecords": "No se encontraron registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "paginate": {
                    "first": "First",
                    "last": "Last",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },

        });

        $('#nombreEmp').on('keyup change', function () {
            table.column(0).search($(this).val()).draw();
        });

        $('#nombreCoachee').on('keyup change', function () {
            table.column(1).search($(this).val()).draw();
        });
    });
</script>
{% endblock js %}