{% extends "menu/layoutMenu.html" %}
{% load static %}
{% block title %}Menu Coach{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
{% block content %}

<!--Filtros de los procesos -->
<br>
<br>
<div class="container">
    <h2 class="text-center fw-bold">Lista de Procesos en Curso</h2>
    <br>
    <!--filtro para buscar entre los procesos-->
    <div class="col-md-12">
        <div class="row">
            <div class="col-xs-4 col-md-4 py-1">
                <div class="form-group">
                    <input id="nombreEmp" class="contactInput form-control" placeholder="Buscar por Empresa">
                </div>
            </div>
            <span class="col-xs-4 col-md-4 py-1"></span>
            <div class="col-xs-4 col-md-4 py-1">
                <div class="form-group">
                    <input id="nombreCoachee" class="contactInput form-control" placeholder="Buscar por Coachee">
                </div>
            </div>
        </div>
    </div>
    <!--Listado de los procesos asignados-->
    <div id="listProceso">
        <table id="example" class="table thead-dark">
            <thead class="thead-dark">
                <tr class="cabecera">
                    <th scope="col">Proceso Empresa</th>
                    <th scope="col">Nombre Coachee</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Estado</th>
                    <th scope="col" class=" text-center">Visualizar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-light">
                    <th scope="row">Falabella</th>
                    <th scope="row">Emilia</th>
                    <th scope="row">Emilia@gmail.com</th>
                    <th scope="row">945852612</th>
                    <th scope="row">Reunion inicial</th>
                    <th scope="row" class=""><a target="_blank" href="{% url 'infoProcCoach' %}"><i type="button" class="fas fa-address-book d-flex justify-content-center"
                            data-bs-toggle="modal" data-bs-target="#datosSesion"></i></a></th>

                    <!-- Button trigger modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="datosSesion" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Datos del Proceso</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container mt-2 bg-light">
                                        <div class=" mt-2">
                                            <!--formulario para modificar al usuarios-->
                                            <div class=" bg-light">
                                                <form class="form-horizontal">
                                                    <div class="">
                                                        <div class="panel panel-primary mt-2 px-2 bg-light">
                                                            <!--Datos personales del coachee-->
                                                            <div class="panel-body mt-2">
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <br>
                                                                        <label class="col-md-6 control-label"
                                                                            name="nombre">Nombre
                                                                            Coachee</label>

                                                                        <div class="col-md-12">
                                                                            <input class="form-control" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <br>
                                                                        <label class="col-md-12 control-label">Nombre
                                                                            Jefe</label>
                                                                        <div class="col-md-12 col-lg-8">
                                                                            <input class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <br>
                                                                        <label class="col-md-12 control-label">Email
                                                                            Coachee</label>
                                                                        <div class="col-md-12">
                                                                            <input class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <br>
                                                                        <label class="col-md-12 control-label">Email
                                                                            Jefe</label>
                                                                        <div class="col-md-12 col-lg-8">
                                                                            <input class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <br>
                                                                        <label class="col-md-12 control-label"
                                                                            name="nombre">Telefono
                                                                            Coachee</label>

                                                                        <div class="col-md-12">
                                                                            <input class="form-control" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <br>
                                                                        <label class="col-md-12 control-label">Telefono
                                                                            Jefe</label>

                                                                        <div class="col-md-12 col-lg-8">
                                                                            <input class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                            </div>
                                                        </div>
                                                        <!--detalles del proceso-->
                                                        <div class="panel panel-primary mt-4 px-2 bg-light">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <label class="col-md-12 control-label"
                                                                            name="nombre">Objetivo del
                                                                            Proceso:</label>
                                                                        <div class="col-md-12">
                                                                            <textarea class="form-control"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label
                                                                            class="col-md-12 col-lg-4 control-label">Indicadores
                                                                            de
                                                                            Éxito:</label>
                                                                        <div class="col-md-12 col-lg-8">
                                                                            <textarea class="form-control"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-primary mt-4 px-2 bg-light">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <label class="col-md-12 control-label"
                                                                            name="nombre">Plan de
                                                                            Acción</label>
                                                                        <div class="col-md-12">
                                                                            <textarea class="form-control"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <!--Tabla con registro de fechas de las sesiones-->
                                                                    <!-- <div class="form-group col-md-6">
                                                                        <table id="listSesion"
                                                                            class="table thead-dark border border-dark">
                                                                            <thead class="thead-dark">
                                                                                <tr class="cabecera">
                                                                                    <th scope="col">Sesión</th>
                                                                                    <th scope="col">Fecha</th>
                                                                                    <th scope="col">Hora</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr class="bg-light">
                                                                                    <th scope="row">1</th>
                                                                                    <th scope="row">05/06/2021</th>
                                                                                    <th scope="row">10:00</th>
                                                                                </tr>
                                                                                <tr class="bg-light">
                                                                                    <th scope="row">2</th>
                                                                                    <th scope="row">15/06/2021</th>
                                                                                    <th scope="row">10:00</th>
                                                                                </tr>
                                                                                <tr class="bg-light">
                                                                                    <th scope="row">3</th>
                                                                                    <th scope="row">25/06/2021</th>
                                                                                    <th scope="row">10:00</th>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div> -->
                                                                </div>
                                                                <br>
                                                            </div>
                                                        </div>

                                                        <div class="">
                                                            <div class="row mt-3">
                                                                <div class="col-md-12">
                                                                    <div class="card text-center">
                                                                        <!--registro de las sesión-->
                                                                        <div class="card-header">
                                                                            <ul class="nav nav-tabs card-header-tabs">
                                                                                <li class="nav-item">
                                                                                    <a class="nav-link active"
                                                                                        href="#">Sesión 1</a>
                                                                                </li>
                                                                                <li class="nav-item">
                                                                                    <a class="nav-link" href="#">Sesión
                                                                                        2</a>
                                                                                </li>
                                                                                <li class="nav-item">
                                                                                    <a class="nav-link" href="#">Sesión
                                                                                        3</a>
                                                                                </li>
                                                                                <li class="nav-item">
                                                                                    <a class="nav-link" href="#">Sesión
                                                                                        4</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <!--Registro de cada sesión-->
                                                                            <form class="form-horizontal">
                                                                                <div class="row">
                                                                                    <div class="form-group col-md-6">
                                                                                        <br>
                                                                                        <label
                                                                                            class="col-md-12 control-label"
                                                                                            name="nombre">Descripción
                                                                                            Sesión:</label>

                                                                                        <div class="col-md-12">
                                                                                            <textarea
                                                                                                class="form-control"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group col-md-6">
                                                                                        <br>
                                                                                        <label
                                                                                            class="col-md-12 control-label"
                                                                                            name="nombre">Asignaciones/Acuerdos:</label>

                                                                                        <div class="col-md-12">
                                                                                            <textarea
                                                                                                class="form-control"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="form-group col-md-6">
                                                                                        <br>
                                                                                        <label
                                                                                            class="col-md-12 control-label"
                                                                                            name="nombre">Avances:</label>

                                                                                        <div class="col-md-12">
                                                                                            <textarea
                                                                                                class="form-control"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!--sector donde se almacenan los documentos y links-->
                                                                                    <div class="form-group col-md-6">
                                                                                        <br>
                                                                                        <label
                                                                                            class="col-md-12 control-label"
                                                                                            name="nombre">Links:</label>

                                                                                        <div class="col-md-12">
                                                                                            <textarea
                                                                                                class="form-control"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- <div class="row">
                                                                                    <div class="form-group col-md-12">
                                                                                        <br>
                                                                                        
                                                                    
                                                                                        <label
                                                                                            class="col-md-12 control-label">Documentos:</label>
                                                                                        
                                                                                        <div class="col-md-12">
                                                                                            <div
                                                                                                class="form-group table-responsive col-md-12">
                                                                                                <table
                                                                                                    class="col-md-12 table thead-dark border">
                                                                                                    <thead
                                                                                                        class="thead-dark">
                                                                                                        <tr
                                                                                                            class="cabecera">
                                                                                                            <th
                                                                                                                scope="col">
                                                                                                                Documentos
                                                                                                            </th>
                                                                                                            <th scope="col"
                                                                                                                class="border-start text-center">
                                                                                                                Descargar
                                                                                                            </th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                        <tr
                                                                                                            class="bg-light">
                                                                                                            <th
                                                                                                                scope="row">
                                                                                                                Coaching_v2.doc
                                                                                                            </th>
                                                                                                            <th scope="row"
                                                                                                                class="border">
                                                                                                                <i
                                                                                                                    class="fas fa-download d-flex justify-content-center">
                                                                                                            </th>
                                                                                                        </tr>
                                                                                                        <tr
                                                                                                            class="bg-light">
                                                                                                            <th
                                                                                                                scope="row">
                                                                                                                Presentación_inicial.ppt
                                                                                                            </th>
                                                                                                            <th scope="row"
                                                                                                                class="border">
                                                                                                                <i
                                                                                                                    class="fas fa-download d-flex justify-content-center">
                                                                                                            </th>
                                                                                                        </tr>
                                                                                                        <tr
                                                                                                            class="bg-light">
                                                                                                            <th
                                                                                                                scope="row">
                                                                                                                Tips_lenguaje_corporal.jpg
                                                                                                            </th>
                                                                                                            <th scope="row"
                                                                                                                class="border">
                                                                                                                <i
                                                                                                                    class="fas fa-download d-flex justify-content-center">
                                                                                                            </th>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div> -->

                                                                                <br>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <br>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        title: '{{ message }}',
        icon: '{{ message.tags }}',
        heightAuto: false,
        timer: 3000,
        timerProgressBar: true
    })
</script>
{% endfor %}
{% endif %}
{% endblock %}
<!-- Custom script -->
{% block js %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            dom: 'lrtip',
            "lengthMenu": [10],
            "lengthChange": false,
            "autoWidth": false,
            "scrollX": true,
            "language": {
                "zeroRecords": "No se encontraron registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "paginate": {
                    "first": "First",
                    "last": "Last",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },

        });

        $('#nombreEmp').on('keyup change', function () {
            table.column(0).search($(this).val()).draw();
        });

        $('#nombreCoachee').on('keyup change', function () {
            table.column(1).search($(this).val()).draw();
        });
    });
</script>
{% endblock js %}