{% extends "menu/layoutMenu.html" %}
{% load static %}
{% block title %}Menu Coach{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}

<!-- Listado de Procesos -->

<div class="container">

        <div class="justify-content-center list-group d-flex col-12 col-sm-12 col-md-12 bg-light p-1">
            <h3 class="text-center fw-bold text-center">Procesos Asignados(No Iniciados)</h3>
            <br>
            <div class="row justify-content-center">
                <br>
                <span class="col-md-1"></span>
                <a href="#" class="rounded-3 border-dark list-group-item list-group-item-action col-md-4" aria-current="true">
                    <div class="text-center">
                        <h5 class="mb-1 text-center">Proceso Empresa: Enjoy</h5>
                    </div>
                    <h6 class="mb-1 text-center">Estado: Segunda Sesión</h6>
                    <p class="mb-1 text-center">Coach: Ivan Espindola</p>
                    <p class="mb-1 text-center">Coachee: Danilo Gómez</p>
                </a>
                <span class="col-md-1"></span>
                <a href="#" class="rounded-3 border-dark list-group-item list-group-item-action col-md-4 ms-5" aria-current="true">
                    <div class="text-center">
                        <h5 class="mb-1 text-center">Proceso Empresa: Enjoy</h5>
                    </div>
                    <h6 class="mb-1 text-center">Estado: Segunda Sesión</h6>
                    <p class="mb-1 text-center">Coach: Ivan Espindola</p>
                    <p class="mb-1 text-center">Coachee: Danilo Gómez</p>
                </a>
                <span class="col-md-1"></span>
            </div>
            <br>
            <div class="row justify-content-center">
                <span class="col-md-1"></span>
                <a href="#" class="rounded-3 border-dark list-group-item list-group-item-action col-md-4" aria-current="true">
                    <div class="text-center">
                        <h5 class="mb-1 text-center">Proceso Empresa: Enjoy</h5>
                    </div>
                    <h6 class="mb-1 text-center">Estado: Segunda Sesión</h6>
                    <p class="mb-1 text-center">Coach: Ivan Espindola</p>
                    <p class="mb-1 text-center">Coachee: Danilo Gómez</p>
                </a>
                <span class="col-md-1"></span>
                <a href="#" class="rounded-3 border-dark list-group-item list-group-item-action col-md-4 ms-5" aria-current="true">
                    <div class="text-center">
                        <h5 class="mb-1 text-center">Proceso Empresa: Enjoy</h5>
                    </div>
                    <h6 class="mb-1 text-center">Estado: Segunda Sesión</h6>
                    <p class="mb-1 text-center">Coach: Ivan Espindola</p>
                    <p class="mb-1 text-center">Coachee: Danilo Gómez</p>
                </a>
                <span class="col-md-1"></span>
            </div>
            <br>
            <div class="row justify-content-center">
                <span class="col-md-1"></span>
                <a href="#" class="rounded-3 border-dark list-group-item list-group-item-action col-md-4" aria-current="true">
                    <div class="text-center">
                        <h5 class="mb-1 text-center">Proceso Empresa: Enjoy</h5>
                    </div>
                    <h6 class="mb-1 text-center">Estado: Segunda Sesión</h6>
                    <p class="mb-1 text-center">Coach: Ivan Espindola</p>
                    <p class="mb-1 text-center">Coachee: Danilo Gómez</p>
                </a>
                <span class="col-md-1"></span>
                <a href="#" class="rounded-3 border-dark list-group-item list-group-item-action col-md-4 ms-5" aria-current="true">
                    <div class="text-center">
                        <h5 class="mb-1 text-center">Proceso Empresa: Enjoy</h5>
                    </div>
                    <h6 class="mb-1 text-center">Estado: Segunda Sesión</h6>
                    <p class="mb-1 text-center">Coach: Ivan Espindola</p>
                    <p class="mb-1 text-center">Coachee: Danilo Gómez</p>
                </a>
                <span class="col-md-1"></span>
            </div>
            <br>
            <div class="row justify-content-center">
                <span class="col-md-1"></span>
                <a href="#" class="rounded-3 border-dark list-group-item list-group-item-action col-md-4" aria-current="true">
                    <div class="text-center">
                        <h5 class="mb-1 text-center">Proceso Empresa: Enjoy</h5>
                    </div>
                    <h6 class="mb-1 text-center">Estado: Segunda Sesión</h6>
                    <p class="mb-1 text-center">Coach: Ivan Espindola</p>
                    <p class="mb-1 text-center">Coachee: Danilo Gómez</p>
                </a>
                <span class="col-md-1"></span>
                <a href="#" class="rounded-3 border-dark list-group-item list-group-item-action col-md-4 ms-5" aria-current="true">
                    <div class="text-center">
                        <h5 class="mb-1 text-center">Proceso Empresa: Enjoy</h5>
                    </div>
                    <h6 class="mb-1 text-center">Estado: Segunda Sesión</h6>
                    <p class="mb-1 text-center">Coach: Ivan Espindola</p>
                    <p class="mb-1 text-center">Coachee: Danilo Gómez</p>
                </a>
                <span class="col-md-1"></span>
            </div>
            <br>
        </div>
</div>

{% endblock %}