{% extends "menu/layoutMenu.html" %}
{% load static %}
{% block title %}Menu Administrador{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}
{% block content %}
<!--Filtro por nombre u otro -->

<!--Despliega formulario para crear Coachee y esconde a los demas-->

<!--Menu Procesos-->

<div class="list-group flex-column flex-sm-row list-group-horizontal p-2" id="barra2">
    <a href="{% url 'menuAdmin' %}" class="list-group-item text-sm-center list-group-item-action">Menú Principal</a>
    <a href="{% url 'nuevoUsuario'%}" class="list-group-item text-sm-center list-group-item-action">Nuevo Usuario</a>
    <a href="{% url 'listUsuarios'%}" class="list-group-item text-sm-center list-group-item-action">Listar Usuarios</a>
</div>
<!--filtro de usuarios-->
<div class="container">
    <div class="col-md-12">
        <form action="" method="post">{% csrf_token %}
        <div class="row">
            <!--filtro nombre-->
            <div class="col-xs-4 col-md-4 py-1">
                <div class="form-group">
                    <input id="nombre" class="contactInput form-control" placeholder="Buscar por Nombre">
                </div>
            </div>
            <!--filtro tipo usuario-->
            <div class="col-xs-4 col-md-4 py-1">
                <div class="form-group">
                    <select id="table-filter" name="tipoUsuario" class="form-select form-control">
                        <option name="tipoUsuario"  value="">Todos los Tipos de Usuarios</option>
                        <option name="tipoUsuario" >Administrador</option>
                        <option name="tipoUsuario" >Coachㅤ</option>
                        <option name="tipoUsuario" >Coachee</option>
                    </select>
                </div>
            </div>
            <!--filtro estado-->
            <div class="col-xs-4 col-md-4 py-1">
                <div class="form-group">
                    <select id="table-filter2" name="estado" class="form-select form-control">
                        <option name="estado" value="">Todos los Estados</option>
                        <option name="estado" >Habilitadoㅤ</option>
                        <option name="estado" >Deshabilitado</option>
                    </select>
                </div>
            </div>

            <!-- <div class="col-xs-4 col-md-3 py-1">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div> -->
        </div>
    </form>
    </div>
</div>
<br>
<!--Listado de usuarios-->
<div class="container">
    <div>
        <table id="example" class="table thead-dark">
            <thead>
                <tr class="cabecera">
                    <th scope="col">Nombre Usuario</th>
                    <th scope="col">Tipo Usuario</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <!-- <theader class="thead-dark">
                <tr class="cabecera">
                    <th scope="col">Nombre Usuario</th>
                    <th scope="col">Tipo Usuario</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Editar</th>
                </tr>
            </theader> -->
            <tbody>
                {% for usuario in entity %}
                <tr class="bg-light">
                    <th scope="row">{{ usuario.NOMBRE }} {{ usuario.APELLIDO }}</th>
                    {% if usuario.PERFIL_ID == 1 %}
                    <th data-slide="Administrador" scope="row">Administrador</th>
                    {% elif usuario.PERFIL_ID == 2 %}
                    <th data-slide="Coach" scope="row">Coachㅤ</th>
                    {% elif usuario.PERFIL_ID == 3 %}
                    <th data-slide="Coachee" scope="row">Coachee</th>
                    {% endif %}
                    <th scope="row">{{ usuario.CORREO }}</th>
                    <th scope="row">{{ usuario.FONO }}</th>
                    {% if usuario.ACTIVO == 0 %}
                    <th scope="row" >Deshabilitado</th>
                    <th scope="row">
                        <i type="button" href="#" style="color: red;" class="fas fa-user-edit d-flex ps-3"
                            data-bs-toggle="modal" data-bs-target="#exampleModal-{{ usuario.ID }}"></i>
                    </th>
                    {% elif usuario.ACTIVO == 1 %}
                    <th scope="row">Habilitadoㅤ</th>
                    <th scope="row">
                        <i type="button" href="#" style="color: green;" class="fas fa-user-edit d-flex ps-3"
                            data-bs-toggle="modal" data-bs-target="#exampleModal-{{ usuario.ID }}"></i>
                    </th>
                    {% endif %}
                    <!-- <th scope="row">
                        <i type="button" href="#" style="color: green;" class="fas fa-user-edit d-flex justify-content-center"
                            data-bs-toggle="modal" data-bs-target="#exampleModal-{{ usuario.ID }}"></i>
                    </th> -->
                </tr>

                <!--Modal para editar usuarios-->
                <div class="modal fade" id="exampleModal-{{ usuario.ID }}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <form 
                        {% if usuario.PERFIL_ID == 1 %}
                        id="formAdmin-{{ usuario.ID }}"
                        {% elif usuario.PERFIL_ID == 2 %}
                        id="formCoach-{{ usuario.ID }}"
                        {% elif usuario.PERFIL_ID == 3 %}
                        id="formCoachee-{{ usuario.ID }}"
                        {% endif %}
                        action="{% url 'modUsuarios' usuario.ID %}" method="POST">{% csrf_token %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modificar Usuario</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container mt-2 bg-light">
                                        {% if usuario.PERFIL_ID == 1 %}
                                        <div class="container mt-2">
                                            <!--formulario para modificar al usuario Administrador-->
                                            <div class="row mt-2">
                                                <div class="mt-2 form-group col-md-6">
                                                    <label class="col-md-12 control-label">Nombre Administrador</label>
                                                    <div class="col-md-12">
                                                        <input type="text" name="nombreAdmin" class="form-control"
                                                            value="{{usuario.NOMBRE}}" id="nombreAdmin-{{usuario.ID}}" />
                                                    </div>
                                                </div>
                                                <div class="mt-2 form-group col-md-6">
                                                    <label class="col-md-12 control-label">Apellido
                                                        Administrador</label>
                                                    <div class="col-md-12 col-lg-8">
                                                        <input type="text" name="apellido" class="form-control"
                                                            value="{{ usuario.APELLIDO }}" id="apellidoAdmin-{{usuario.ID}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-12 control-label">Email Administrador</label>
                                                    <div class="col-md-12">
                                                        <input type="email" name="email" class="form-control"
                                                            value="{{ usuario.CORREO }}" id="emailAdmin-{{usuario.ID}}">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-12 control-label">Telefono</label>
                                                    <div class="col-md-12 col-lg-8">
                                                        <input type="tel" name="telefono" class="form-control"
                                                            value="{{ usuario.FONO }}" id="telefonoAdmin-{{usuario.ID}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-12 control-label" name="nombre">Idioma
                                                        Administrador
                                                    </label>
                                                    <div class="col-md-12">
                                                        <input type="text" name="idioma" class="form-control"
                                                            value="{{ usuario.IDIOMA }}" id="idiomaAdmin-{{usuario.ID}}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <br>
                                                <label class="control-label col-md-2 ms-3" name="nombre">Estado:</label>
                                                
                                                <div class="col-md-6 form-check" >
                                                    
                                                    <input class="form-check-input" name="activo" type="checkbox" onclick="cambiaNombre(this);" value="" id="flexCheckChecked-{{ usuario.ID }}" {% if usuario.ACTIVO == 1 %} checked {% else %} '' {% endif %}>
                                                    
                                                    <label class="form-check-label ms-1" for="flexCheckChecked">
                                                        {% if usuario.ACTIVO == 1 %}
                                                            Habilitado
                                                        {% else %}
                                                            Deshabilitado
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        {% elif usuario.PERFIL_ID == 2 %}
                                        <div class="container mt-2">
                                            <!--formulario para modificar al usuario Coachee-->
                                            <div class="row mt-2">
                                                <div class="mt-2 form-group col-md-6">
                                                    <label class="col-md-12 control-label">Nombre Coach</label>

                                                    <div class="col-md-12">
                                                        <input type="text" name="nombreCoach" class="form-control" id="nombreCoach-{{usuario.ID}}"
                                                            value="{{usuario.NOMBRE}}" />
                                                    </div>
                                                </div>
                                                <div class="mt-2 form-group col-md-6">
                                                    <label class="col-md-12 control-label">Apellido Coach</label>
                                                    <div class="col-md-12 col-lg-8">
                                                        <input type="text" name="apellido" class="form-control" id="apellidoCoach-{{usuario.ID}}"
                                                            value="{{ usuario.APELLIDO }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-12 control-label">Email Coach</label>
                                                    <div class="col-md-12">
                                                        <input type="email" name="email" class="form-control"  id="emailCoach-{{usuario.ID}}"
                                                            value="{{ usuario.CORREO }}">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-12 control-label">Telefono</label>
                                                    <div class="col-md-12 col-lg-8">
                                                        <input type="tel" name="telefono" class="form-control" id="telefonoCoach-{{usuario.ID}}"
                                                            value="{{ usuario.FONO }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-12 control-label" name="nombre">Idioma
                                                    </label>
                                                    <div class="col-md-12">
                                                        <input type="text" name="idioma" class="form-control" id="idiomaCoach-{{usuario.ID}}"
                                                            value="{{ usuario.IDIOMA }}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <br>
                                                <label class="control-label col-md-2 ms-3" name="nombre">Estado:</label>
                                                
                                                <div class="col-md-6 form-check">
                                                    
                                                    <input class="form-check-input" name="activo" type="checkbox" onclick="cambiaNombre(this);" value="" id="flexCheckChecked-{{ usuario.ID }}" {% if usuario.ACTIVO == 1 %} checked {% else %} '' {% endif %}>
                                                    
                                                    <label class="form-check-label ms-1" for="flexCheckChecked">
                                                        {% if usuario.ACTIVO == 1 %}
                                                            Habilitado
                                                        {% else %}
                                                            Deshabilitado
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        {% elif usuario.PERFIL_ID == 3 %}
                                        <div class="container mt-2">
                                            <!--formulario para modificar al usuarios-->
                                            <div class="row mt-2">
                                                <div class="mt-2 form-group col-md-6">
                                                    <label class="col-md-6 control-label">Nombre Empresa</label>

                                                    <div class="col-md-12">
                                                        <input type="text" name="nombreEmp" class="form-control" id="nombreEmpCoachee-{{usuario.ID}}"
                                                            value="{{usuario.EMPRESA}}" />
                                                    </div>
                                                </div>
                                                <div class="mt-2 form-group col-md-6">
                                                    <label class="col-md-6 col-lg-4 control-label">Idioma</label>
                                                    <div class="col-md-12 col-lg-8">
                                                        <input type="text" name="idioma" class="form-control" id="idiomaCoachee-{{usuario.ID}}"
                                                            value="{{ usuario.IDIOMA }}">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-6 control-label" name="nombre">Nombre
                                                        Coachee</label>
                                                    <div class="col-md-12">
                                                        <input type="text" name="nombreCoachee" class="form-control" id="nombreCoachee-{{usuario.ID}}"
                                                            value="{{ usuario.NOMBRE }}" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-6 control-label" name="nombre">Apellido
                                                        Coachee</label>
                                                    <div class="col-md-12">
                                                        <input type="text" name="apellido" class="form-control" id="apellidoCoachee-{{usuario.ID}}"
                                                            value="{{ usuario.APELLIDO }}" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-5 control-label">Email Coachee</label>
                                                    <div class="col-md-12">
                                                        <input type="email" name="email" class="form-control"  id="emailCoachee-{{usuario.ID}}"
                                                            value="{{ usuario.CORREO }}">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-6 control-label" name="nombre">Telefono Coachee
                                                    </label>

                                                    <div class="col-md-12">
                                                        <input type="tel" name="telefono" class="form-control" id="telefonoCoachee-{{usuario.ID}}"
                                                            value="{{ usuario.FONO }}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-6 col-lg-4 control-label">Nombre Jefe</label>
                                                    <div class="col-md-12 col-lg-8">
                                                        <input type="text" name="nombrejefe" class="form-control"  id="nombreJefeCoachee-{{usuario.ID}}"
                                                            value="{{ usuario.NOMBREJEFE }}">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-md-5 col-lg-4 control-label">Email Jefe</label>
                                                    <div class="col-md-12 col-lg-8">
                                                        <input type="email" name="emailjefe" class="form-control" id="emailJefeCoachee-{{usuario.ID}}"
                                                            value="{{ usuario.EMAILJEFE }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="form-group col-md-6">
                                                    <label class="col-md-6 col-lg-4 control-label">Telefono Jefe</label>

                                                    <div class="col-md-12 col-lg-8">
                                                        <input type="tel" name="telefonoJefe" class="form-control" id="telefonoJefeCoachee-{{usuario.ID}}"
                                                            value="{{ usuario.FONOJEFE }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <br>
                                                <label class="control-label col-md-2 ms-3" name="nombre">Estado:</label>
                                                
                                                <div class="col-md-6 form-check" >
                                                    <input class="form-check-input" onclick="cambiaNombre(this);" name="activo" 
                                                    type="checkbox" value="" id="flexCheckChecked-{{usuario.ID}}" 
                                                    {% if usuario.ACTIVO == 1 %} checked {% else %} '' {% endif %}>
                                                    
                                                    <label class="form-check-label ms-1" for="flexCheckChecked">
                                                        {% if usuario.ACTIVO == 1 %}
                                                            Habilitado
                                                        {% else %}
                                                            Deshabilitado
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}

                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <span class="col-md-1"></span>

                                    <button type="submit"
                                    {% if usuario.PERFIL_ID == 1 %}
                                    onclick="modificarAdmin(this);"
                                    {% elif usuario.PERFIL_ID == 2 %}
                                    onclick="modificarCoach(this);"
                                    {% elif usuario.PERFIL_ID == 3 %}
                                    onclick="modificarCoachee(this);"
                                    {% endif %}
                                    data-id="{{usuario.ID}}" class="btn btn-primary">Guardar
                                        Cambios</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Paginación -->
<!-- <div>
    {% include 'base/paginator.html' %}
</div> -->
{% if messages %}
{% for message in messages %}
    <script>
        Swal.fire({
                    title: '{{ message }}',
                    icon: '{{ message.tags }}',
                    heightAuto: false,
                    timer: 3000,
                    timerProgressBar: true
                })
    </script>
{% endfor %}
{% endif %}
{% endblock %}
<!-- Custom script -->
{% block js %}
<!-- Validar porque solo funciona con la primera fila -->
<script>
   function cambiaNombre(cb){
    if (cb.checked) {
        $('label[for="flexCheckChecked"]').text('Habilitado');
    }
    else {
        $('label[for="flexCheckChecked"]').text('Deshabilitado');
    }
};

</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}"/>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(document).ready(function (){
    var table = $('#example').DataTable({
       dom: 'lrtip',
       "lengthMenu": [10,20,30,40,50],
       "lengthChange": true,
       "autoWidth": false,
       "scrollX": true,
       "language": {
            "zeroRecords": "No se encontraron registros.",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": " ",
            "lengthMenu": "Mostrar _MENU_  filas",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "paginate": {
                    "first":      "Primero",
                    "last":       "Ultimo",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                    },
        },
        
    });
    
    $('#table-filter').on('change', function(){
    	var search = [];
      
      $.each($('#table-filter option:selected'), function(){
      		search.push($(this).val());
      });
      
      search = search.join('|');
      table.column(1).search(search, true, false).draw();  
    });

    $('#table-filter2').on('change', function(){
    	var search = [];
      
      $.each($('#table-filter2 option:selected'), function(){
      		search.push($(this).val());
      });
      
      search = search.join('|');
      table.column(4).search(search, true, false).draw();
    });
   /*  $('#table-filter').on('change', function(){
       table.search(this.value).draw();   
    }); */

   /*  $('#table-filter2').on('change', function(){
       table.search(this.value).draw();   
    }); */

    $('#nombre').on('keyup change', function () {
        table.column(0).search($(this).val()).draw();
    });
});
</script>

{% endblock js %}