{% extends "menu/layoutMenu.html" %}
{% load static %}
{% block title %}Menu Administrador{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
{% block content %}
<script>
    function crearCoachee(id) {
        Swal.fire({
            title: '¿Está seguro de crear al usuario Coachee?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'No!',
            confirmButtonText: 'Si, Crear!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    timer: 2000,
                    title: 'Creado!',
                    text: 'Operación Realizada con éxito',
                    showConfirmButton: false,
                })
                $('#exampleModal').modal('hide');
                $(".modal-backdrop").remove();
            }
        })
    }
</script>
<script>
    function crearCoach(id) {
        Swal.fire({
            title: '¿Está seguro de crear al usuario Coach?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'No!',
            confirmButtonText: 'Si, Crear!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    timer: 2000,
                    title: 'Creado!',
                    text: 'Operación Realizada con éxito',
                    showConfirmButton: false,
                })
                $('#exampleModal').modal('hide');
                $(".modal-backdrop").remove();
            }
        })
    }

</script>
<script>
    function crearAdmin(id) {
        Swal.fire({
            title: '¿Está seguro de crear al usuario Administrador?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'No!',
            confirmButtonText: 'Si, Crear!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    timer: 2000,
                    title: 'Creado!',
                    text: 'Operación Realizada con éxito',
                    showConfirmButton: false,
                })
                $('#exampleModal').modal('hide');
                $(".modal-backdrop").remove();
            }
        })
    }

</script>
<!--Menu Procesos-->
<div class="list-group flex-column flex-sm-row list-group-horizontal p-2" id="barra2">
    <a href="{% url 'menuAdmin' %}" class="list-group-item text-sm-center list-group-item-action">Menú Principal</a>
    <a href="{% url 'nuevoUsuario'%}" class="list-group-item text-sm-center list-group-item-action">Nuevo Usuario</a>
    <a href="{% url 'modUsuario'%}" class="list-group-item text-sm-center list-group-item-action">Modificar Usuario</a>
    <a href="{% url 'listUsuarios'%}" class="list-group-item text-sm-center list-group-item-action">Listar Usuarios</a>
    <a href="{% url 'estadoUsuarios'%}" class="list-group-item text-sm-center list-group-item-action">Estado Usuario</a>
</div>

<!--Crear Usuario -->

<div class="container bg-light">
    <div class="col-md-12">
        <div class="row ">
            <span class="col-xs-1 col-md-1"></span>
            <h3 class="col-xs-4 col-md-4 mt-4 ms-1">Seleccione el usuario a crear:</h3>
            <div class="col-xs-1 col-md-1 mt-4">
                <div class="form-group">
                    <button id="coachee1" class="btn btn-primary ms-1">Coachee</button><br><br>
                </div>
            </div>
            <span class="col-xs-1 col-md-1"></span>
            <div class="col-xs-1 col-md-1 mt-4">
                <div class="form-group">
                    <button id="coach2" class="btn btn-primary ms-1">Coach</button><br><br>
                </div>
            </div>
            <span class="col-xs-1 col-md-1"></span>
            <div class="col-xs-1 col-md-1 mt-4">
                <div class="form-group">
                    <button id="administrador3" class="btn btn-primary ms-1">Administrador</button><br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--Despliega formulario para crear Coach y esconde a los demas-->
<script>
    $(document).ready(function () {
        $("#coachee1").click(function () {
            $("#div1").fadeToggle(2000);
            $('#div2').hide();
            $('#div3').hide();
        });
    });
</script>
<!--Despliega formulario para crear Coachee y esconde a los demas-->
<script>
    $(document).ready(function () {
        $("#coach2").click(function () {
            $("#div2").fadeToggle(2000);
            $('#div1').hide();
            $('#div3').hide();
        });
    });
</script>
<!--Despliega formulario para crear Administrador y esconde a los demas-->
<script>
    $(document).ready(function () {
        $("#administrador3").click(function () {
            $("#div3").fadeToggle(2000);
            $('#div1').hide();
            $('#div2').hide();
        });
    });
</script>
<div class="container bg-light">
    <div class="container">
        <!--Formulario para crear usuarios tipo Coachee-->
        <div id="div1" style="display: none;" class="panel panel-primary px-2 bg-light">
            <form action="" method="POST">{% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-12 control-label" name="nombre">Nombre Empresa</label>
                            <div class="col-md-12">
                                <input class="form-control" type="text" required />
                            </div>
                        </div>
                        <br>
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-12 control-label">Idioma Coachee</label>
                            <div class="col-md-12 col-lg-8">
                                <input class="form-control" type="text" required />
                            </div>
                        </div>
                        <br>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <br>
                                    <label class="col-md-12 control-label" name="nombre">Nombre Coachee</label>
                                    <div class="col-md-12">
                                        <input class="form-control" placeholder="Primer Nombre" type="text" required />
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <br>
                                    <label class="col-md-12 control-label" name="nombre">Apellido Coachee</label>
                                    <div class="col-md-12">
                                        <input class="form-control" placeholder="Primer Apellido" type="text"
                                            required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-12 control-label">Nombre Jefe</label>
                            <div class="col-md-12 col-lg-8">
                                <input class="form-control" type="text" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-12 control-label">Email Coachee</label>
                            <div class="col-md-12">
                                <input class="form-control" type="email" required>
                            </div>
                        </div>
                        <br>
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-12 control-label">Email Jefe</label>
                            <div class="col-md-12 col-lg-8">
                                <input class="form-control" type="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-12 control-label" name="nombre">Telefono Coachee</label>

                            <div class="col-md-12">
                                <input class="form-control" type="tel" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <br>
                            <label class="col-md-12 control-label">Telefono Jefe</label>

                            <div class="col-md-12 col-lg-8">
                                <input class="form-control" type="tel" />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <div class="row">
                            <label class="control-label col-md-2" name="nombre">Estado</label>
                            <div class="col-md-4 form-check">
                                <input checked class="form-check-input" type="radio" name="radioDefault1"
                                    id="radioDefault1">
                                <label class="form-check-label ps-1" for="radioDefault1"> Habilitado</label>
                            </div>
                            <div class="col-md-4 form-check float-end">
                                <input class="form-check-input" type="radio" name="radioDefault1" id="radioDefault2">
                                <label class="form-check-label ps-1" for="radioDefault2"> Deshabilitado</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" onclick="crearCoachee()" class="btn btn-primary float-end col-md-2">Grabar</button>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>
<div class="container bg-light">
    <div class="container">
        <!--Formulario para crear usuarios tipo Coach-->
        <div id="div2" style="display: none;" class="panel panel-primary px-2 bg-light">
            <form id="form2" action="" method="POST">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <br>
                                    <label class="col-md-12 control-label" name="nombre">Nombre Coach</label>
                                    <div class="col-md-12">
                                        <input class="form-control" type="text" required placeholder="Primer Nombre" />
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <br>
                                    <label class="col-md-12 control-label" name="nombre">Apellido Coach</label>
                                    <div class="col-md-12">
                                        <input class="form-control" type="text" required
                                            placeholder="Primer Apellido" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-12 control-label">Email Coach</label>
                            <div class="col-md-12">
                                <input class="form-control" type="email" required>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-12 control-label" name="nombre">Telefono Coach</label>
                            <div class="col-md-12">
                                <input class="form-control" type="tel" required />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-12 control-label" name="nombre">Idioma Coach</label>

                            <div class="col-md-12">
                                <input class="form-control" type="text" required value="Español"/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <div class="row">
                            <label class="control-label col-md-2" name="nombre">Estado</label>
                            <div class="col-md-4 form-check">
                                <input checked class="form-check-input" type="radio" name="radioDefault2"
                                    id="radioDefault3">
                                <label class="form-check-label ps-1" for="radioDefault3"> Habilitado</label>
                            </div>
                            <div class="col-md-4 form-check float-end">
                                <input class="form-check-input" type="radio" name="radioDefault2" id="radioDefault4">
                                <label class="form-check-label ps-1 " for="radioDefault4"> Deshabilitado</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-end col-md-2" onclick="crearCoach()">Grabar</button>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>
<div class="container bg-light">
    <div class="container">
        <!--Formulario para crear usuarios tipo Administrador-->
        <div id="div3" style="display: none;" class="panel panel-primary px-2 bg-light">
            <form id="form3" action="" method="POST">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <br>
                                    <label class="col-md-12 control-label" name="nombre">Nombre Administrador</label>
                                    <div class="col-md-12">
                                        <input class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <br>
                                    <label class="col-md-12 control-label" name="nombre">Apellido Administrador</label>
                                    <div class="col-md-12">
                                        <input class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-12 control-label">Email Administrador</label>
                            <div class="col-md-12">
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-12 control-label" name="nombre">Telefono Administrador</label>
                            <div class="col-md-12">
                                <input class="form-control" />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-12 control-label" name="nombre">Idioma Administrador</label>
                            <div class="col-md-12">
                                <input class="form-control" />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <div class="row">
                            <label class="control-label col-md-2" name="nombre">Estado</label>
                            <div class="col-md-4 form-check">
                                <input checked class="form-check-input" type="radio" name="radioDefault3"
                                    id="radioDefault5">
                                <label class="form-check-label ps-1" for="radioDefault5"> Habilitado</label>
                            </div>
                            <div class="col-md-4 form-check float-end">
                                <input class="form-check-input " type="radio" name="radioDefault3" id="radioDefault6">
                                <label class="form-check-label ps-1" for="radioDefault6"> Deshabilitado</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" onclick="crearAdmin()" class="btn btn-primary float-end col-md-2">Grabar</button>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>
<br>
<br>

</div>

{% endblock %}